/*.body_main {*/


/*    height: 100%;*/


/*    !*display: block;*!*/


/*    !*background: url(../image/main/main_22.png) repeat;*!*/


/*    !*background-color: rgba(125, 123, 247, 0.99);*!*/


/*    !*background: -webkit-linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* Safari 5.1 - 6.0 *!*!*/


/*    !*background: -o-linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* Opera 11.1 - 12.0 *!*!*/


/*    !*background: -moz-linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* Firefox 3.6 - 15 *!*!*/


/*    !*background: linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* 标准的语法（必须放在最后） *!*!*/


/*    -moz-background-size: 100% 100%;*/


/*    background-color: transparent;*/


/*    background-size: 100% 100%;*/


/*    !*!*background: #202020;*!*!*/


/*    box-shadow: 1px 1px 2px #5c4b51;*/


/*    display: flex;*/


/*    align-items: center;*/


/*    justify-content: space-between;*/


/*    !*background: #fff;*!*/


/*    font-size: 12px;*/


/*    !*max-width: 1500px;*!*/


/*    font-family: Tahoma, "宋体";*/


/*    color: #333;*/


/*    margin: 0;*/


/*    padding: 0;*/


/*    position: relative;*/


/*}*/


/*html {*/


/*    height: auto;*/


/*    margin: 0;*/


/*    padding: 0;*/


/*    !*background: -webkit-linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* Safari 5.1 - 6.0 *!*!*/


/*    !*background: -o-linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* Opera 11.1 - 12.0 *!*!*/


/*    !*background: -moz-linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* Firefox 3.6 - 15 *!*!*/


/*    !*background: linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* 标准的语法（必须放在最后） *!*!*/


/*    !*-moz-background-size: auto auto;*!*/


/*    !*background-color: transparent;*!*/


/*    !*background-size: auto auto;*!*/


/*    overflow-y: auto*/


/*}*/


/** {*/


/*    box-sizing: border-box;*/


/*    -webkit-box-sizing: border-box;*/


/*    -moz-box-sizing: border-box;*/


/*}*/


/*body {*/


/*    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;*/


/*    color: #404040;*/


/*    line-height: 1;*/


/*}*/

body {
    background-color: #0d70ff;
    height: auto;
    margin: 0;
    padding: 0;
    /*!*font-weight: 500;*!*/
    /*!*font-size: 2em;*!*/
    /*!*font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif;*!*/
    /*!*line-height: 1;*!*/
    /*!*font-family: Helvetica;*!*/
    /*!*-webkit-font-smoothing: antialiased;*!*/
    /*background: -webkit-linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* Safari 5.1 - 6.0 *!*/
    /*background: -o-linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* Opera 11.1 - 12.0 *!*/
    /*background: -moz-linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* Firefox 3.6 - 15 *!*/
    /*background: linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* 标准的语法（必须放在最后） *!*/
    /*-moz-background-size: 100% 100%;*/
    /*!*background-color: transparent;*!*/
    /*background-size: 100% 100%;*/
}


/** {*/


/*    box-sizing: border-box;*/


/*}*/


/*body {*/


/*    background: #fcfcfc;*/


/*    font: 18px 'PT Sans', Helvetica, Arial, sans-serif;*/


/*}*/


/*.body_main {*/


/*    font: 12px arial;*/


/*    text-align: center;*/


/*    !*background: -webkit-linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* Safari 5.1 - 6.0 *!*!*/


/*    !*background: -o-linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* Opera 11.1 - 12.0 *!*!*/


/*    !*background: -moz-linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* Firefox 3.6 - 15 *!*!*/


/*    !*background: linear-gradient(rgba(88, 111, 212, 0.92), rgba(51, 69, 116, 0.96)); !* 标准的语法（必须放在最后） *!*!*/


/*    !*-moz-background-size: auto auto;*!*/


/*    !*background-color: transparent;*!*/


/*    !*background-size: auto auto;*!*/


/*    !*background: #fff*!*/


/*}*/

.nav_header {
    margin-bottom: 70px;
}

nav {
    top: 0;
    background-image: url("../images/gif/lx.gif");
    /*background-image: url("../images/xinghe2.jpg");*/
    background-repeat: repeat-x;
    background-color: transparent;
    /*background-size: 100% 100%;*/
    -moz-background-size: 100% 100%;
    /*background: #202020;*/
    /*box-shadow: 1px 1px 2px #5c4b51;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /*height: 60px;*/
    height: 15px;
    font: 14px Rokkitt;
    padding: 20px 1px;
    /*left: 10%;*/
    /*right: 15%;*/
    text-transform: uppercase;
    width: 100%;
}

#displayArea {
    margin: 50px auto 0;
    padding: 0;
    position: relative;
    /*!*margin-top: 50px;*!*/
    background-color: transparent;
    /*background-size: 100% 100%;*/
    /*background: #202020;*/
    box-shadow: 1px 1px 2px #5c4b51;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*position: fixed;*/
    /*width: 90%;*/
    /*!*max-width: 1300px;*!*/
    /*!*left: 10%;*!*/
    /*!*right: 15%;*!*/
    /*height: 100%;*/
    /*min-height: 500px;*/
    border: 1px solid #999;
    background-size: cover;
    text-align: center;
    z-index: 0;
}

.like_form {
    width: 100%;
    top: 25px;
    /*position: fixed;*/
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    /*margin: 50px auto 0 auto;*/
    border: 1px solid #999;
    /*min-width: 800px;*/
    max-width: 1300px;
    /*height: 100%;*/
    /*min-height: 550px;*/
    /*max-height: 900px;*/
    min-width: 750px;
    height: 100%;
    text-align: center;
    z-index: 0;
}

.index_like_form {
    width: 100%;
    top: 25px;
    /*position: fixed;*/
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 5%;*/
    /*margin: 50px auto 0 auto;*/
    /*border: 1px solid #999;*/
    /*min-width: 800px;*/
    max-width: 1300px;
    /*height: 100%;*/
    /*min-height: 550px;*/
    /*max-height: 900px;*/
    min-width: 750px;
    height: 100%;
    text-align: center;
    z-index: 0;
    margin-bottom: 2%;
}

.teacher_ordinary {
    margin-top: 5%;
    /*position: relative;*/
    /*margin: 50px auto auto auto;*/
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15%;
    /*margin-bottom: 8%;*/
    border: 1px solid #999;
    width: 100%;
    /*min-width: 800px;*/
    max-width: 1300px;
    min-width: 750px;
    bottom: 66px;
    height: auto;
    /*min-height: 550px;*/
    /*max-height: 900px;*/
    text-align: center;
    z-index: 0;
}

.footer_div {
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 66px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #929293;
    background-color: #e9e9e9;
}

.not_fix_footer_div {
    top: 10px;
    width: 100%;
    bottom: 0;
    position: relative;
    height: 66px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #929293;
    background-color: #e9e9e9;
}

.footer_div a:hover {
    background-color: blue;
}

.footer_div a:active {
    background-color: red;
}

.footer_div a:visited {
    background-color: rebeccapurple;
}

.last_term_info {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.report_list {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    /*border: 1px solid #000;*/
    max-width: 1300px;
    position: relative;
    padding-bottom: 0;
    height: 100%;
    z-index: 0;
}

.main_pic {
    height: 50px;
    top: 25px;
    /*float: left;*/
    border: 1rem;
    border-radius: 5px;
    padding-right: auto;
    padding-left: auto;
}

.login_div {
    margin-top: 20px;
}

.sign_in {
    float: right;
    z-index: 5;
    /*     margin-top: 5px; */
    margin-right: 65px;
    /*     margin-bottom: 5px; */
    margin-left: -6%;
}

.sign_out {
    float: right;
    z-index: 5;
    /*     margin-top: 5px; */
    margin-right: -170px;
    /*     margin-bottom: 5px; */
    margin-left: 65%;
}

#userLoginOut {
    /* 	padding-top: 5px; */
    padding-right: 5px;
    /*     padding-bottom: 5px; */
    padding-left: 5%;
    /*     margin-top: 5px; */
    margin-right: 17px;
    /*     margin-bottom: 5px; */
    margin-left: 60%;
}

#userLogin {
    /* 	padding-top: 5px; */
    padding-right: 50px;
    /*     padding-bottom: 5px; */
    /*     padding-left: 68%; */
    /*     margin-top: 5px; */
    margin-right: 5px;
    /*     margin-bottom: 5px; */
    margin-left: 100px;
}

.eye-nav {
    /*background-image: url("../images/gif/suiluo.gif");*/
    background-image: url("../images/xinghe2.jpg");
    background-repeat: repeat-x;
    background-color: transparent;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    margin-top: 100px;
    /*width: 500px;*/
    height: 25px;
}

.sub_nav {
    text-align: center;
    margin-left: 40%;
}

.sub_ul {
    margin-right: auto;
    font-size: 20px;
    color: #ac2925;
}

#sideMenuContainer {
    background: #191970;
    height: 800px;
    padding: 10px;
    position: fixed;
    top: 50px;
    right: -250px;
    width: 200px;
    z-index: 4;
    overflow: scroll;
    /* filter:alpha(Opacity=80); ͸������
    -moz-opacity:0.5;
    opacity: 0.5; */
}

#sideMenuContainer>a::after {
    color: #FF0000;
    font-size: 120%;
}


/**
往下是主页导航的兼容
 */

.sub_main_img {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    height: 200%;
    width: 95%;
    line-height: 50px;
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*margin: 0 auto;*/
}

nav .sub_main_nav {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    height: 100%;
    width: 99%;
    line-height: 30px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}


/*.sub_main_nav .navbar_nav {*/


/*    margin-right: auto;*/


/*    margin-top: auto;*/


/*    margin-left: 45%;*/


/*    width: 65%;*/


/*    padding-inline-start: 5px;*/


/*}*/

.sub_main_nav .navbar_nav {
    margin-right: auto;
    margin-left: 45.5%;
    margin-top: auto;
    width: 60%;
    font-size: 15px;
    padding-inline-start: 1px;
}

.sub_main_nav .navbar_nav_index {
    margin-right: auto;
    margin-left: 45.5%;
    margin-top: auto;
    width: 70%;
    font-size: 15px;
    padding-inline-start: 1px;
}

.sub_main_nav .navbar_nav li {
    text-align: center;
    float: left;
    position: relative;
    display: block;
    padding: 0 3px;
    margin-left: auto;
    margin-right: auto;
}

nav .sub_main_nav .navbar_nav li:after {
    content: "";
    width: 0;
    height: 2px;
    background: orangered;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}

nav .sub_main_nav .navbar_nav li:hover:after {
    width: 100%;
}

nav .sub_main_nav .navbar_nav li a {
    text-decoration: none;
    height: 6%;
    /*padding: 0 6px;*/
    display: flex;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    font-size: 13px;
}

nav .sub_main_nav .navbar_nav li:hover a {
    color: #fff;
    font-size: 13px;
}

nav .sub_main_nav .navbar_nav li.dropdown {
    display: inherit;
    position: relative;
}

nav .sub_main_nav .navbar_nav li.dropdown .dropdown_menu {
    display: none;
    position: absolute;
    top: 30px;
    width: 100%;
    background-color: #e0ffdc;
    /*box-shadow: 0 15px 27px 0 rgba(167, 165, 165, 0.38);*/
    /*width: 120%;*/
    left: 0;
    border-radius: 7px;
    /*background-color: royalblue;*/
}

.more_menu {
    height: 500px;
    overflow-y: auto;
}

nav .sub_main_nav .navbar_nav li.dropdown .dropdown_menu a {
    font-size: 12px;
    /*color: #8da3e4;*/
    padding: 0 5px;
    line-height: 30px;
    /*text-align: center;*/
    /*background: #fff;*/
    margin-bottom: 1px;
}


/*覆盖下拉选项影响到的div*/

nav .sub_main_nav .navbar_nav li.dropdown:hover .dropdown_menu {
    display: block;
    position: absolute;
    background: #f3f3f3;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 150px;
    z-index: 2000;
    margin-bottom: 10%;
}

nav .sub_main_nav .navbar_nav li.dropdown:hover .special_div {
    display: block;
    position: absolute;
    background: #f3f3f3;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 350px;
    z-index: 2000;
    margin-bottom: 10%;
}

nav .sub_main_nav .navbar_nav li.dropdown:hover .dropdown_menu a {
    color: black;
    width: 150px;
    font-family: 黑体;
    background-color: #f1ffff;
}

nav .sub_main_nav .navbar_nav li.dropdown:hover .special_div a {
    color: black;
    width: 350px;
    font-family: 黑体;
    background-color: #f1ffff;
}

nav .sub_main_nav .navbar_nav li.dropdown:hover .dropdown_menu a:hover {
    color: #fff;
    background: #ff29de;
    width: 150px;
}

nav .sub_main_nav .navbar_nav li.dropdown:hover .special_div a:hover {
    color: #fff;
    background: #ff29de;
    width: 350px;
}

.sub_main_nav.on {
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.sub_main_nav.on .navbar_nav li a {
    color: #333;
}

.sub_main_nav.on .navbar_nav li:hover a {
    color: orangered;
}

.reset_password {
    left: auto;
    right: auto;
    margin: 0 auto 90% auto;
}

.work_type_a {
    text-align: center;
}

.work_type_a button {
    border: 1px;
    border-radius: 3px;
    text-align: center;
    background-color: white;
}


/*.work_type_a a {*/


/*    color: #f8fff9;*/


/*    text-align: center;*/


/*    font-size: 13px;*/


/*}*/

.worker_size {
    color: #1b1b1b;
    font-size: 13px;
}

.worker_size:hover {
    color: #f206d9;
    font-size: 13px;
}

.bor_direct {
    border: 0.05em dashed #4bff12;
    max-width: 200px;
}

.bor {
    border: 0.05em dashed #F00;
    max-width: 600px;
    /*height: 60px;*/
    /*margin-top: 10px*/
}

.last_term_info_warning {
    color: yellow;
    font-size: 10px;
}

.last_term_info_name {
    color: red;
    font-size: 12px;
}

.last_term_info_name_index {
    color: whitesmoke;
    font-size: 20px;
}

.last_term_info_start {
    color: whitesmoke;
    font-size: 12px;
}

.last_term_info_start_date {
    color: greenyellow;
    font-size: 12px;
}

.last_term_info_end_date {
    color: greenyellow;
    font-size: 12px;
}

.last_term_info_start_date_index {
    color: whitesmoke;
    font-size: 15px;
}

.last_term_info_end_date_index {
    color: whitesmoke;
    font-size: 15px;
}

.last_term_info_end {
    color: whitesmoke;
    font-size: 12px;
}

.check_session {
    top: 50px;
}

.desc-dev {
    border: 2px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color: whitesmoke;
    color: red;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.desc-dev-content-guide {
    width: 600px;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.desc-dev-content-guide p {
    margin-left: 7%;
    font-size: 12px;
    text-align: left;
    color: whitesmoke;
}

.desc-dev_content {
    width: 700px;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.desc-dev_content .p_content {
    margin-left: 7%;
    font-size: 12px;
    text-align: left;
    color: whitesmoke;
}

.desc-dev_content .third_content {
    margin-left: 5%;
    font-size: 13px;
    text-align: left;
    color: whitesmoke;
}

.desc-dev_content .comment_content {
    margin-left: 5%;
    font-size: 8px;
    font-style: italic;
    text-align: left;
    color: whitesmoke;
}

.desc-dev_content .sub_head {
    text-align: center;
    color: lawngreen;
    font-size: 18px;
}

.desc-dev_content .second_content {
    margin-left: 3%;
    font-size: 15px;
    text-align: left;
    color: lawngreen;
}

.button_index_top_label {
    background-image: url("../image/index/huanying.png");
    width: 20px;
    height: 25px;
    color: black;
    font-size: 12px;
}

.index_img_a_01 {
    background-image: url("../image/index/xiaoxi02.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    background-size: 100%;
    width: 100%;
    /*height: 15%;*/
    /*padding-top: 10%;*/
    text-align: center;
}

.index_img_aa {
    background-image: url("../image/index/xiaoxi01.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    background-size: 100% 100%;
    /*height: 15%;*/
    /*padding-top: 10%;*/
    text-align: center;
    width: 50%;
    height: 20%;
    padding-bottom: 6%;
    padding-left: -1%
}

.index_img_a {
    background-image: url("../image/index/xiaoxi02.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    background-size: 100% 100%;
    /*height: 15%;*/
    /*padding-top: 10%;*/
    text-align: center;
    width: 50%;
    height: 20%;
    padding-bottom: 6%;
    padding-left: -1%
}

.index_img_span {
    background-image: url("../image/index/huanying3.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    background-size: 100% 100%;
    /*width: 80%;*/
    /*height: 15%;*/
    /*padding-bottom: 4%;*/
    text-align: left;
}

.index_img_span_huanying2 {
    background-image: url("../image/index/huanying2.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    background-size: 100% 100%;
    /*width: 80%;*/
    /*height: 15%;*/
    /*padding-bottom: 4%;*/
    text-align: center;
}

.xiaoxi22 {
    background-image: url("../image/index/xiaoxi01.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    background-size: 100% 100%;
    /*width: 80%;*/
    /*height: 15%;*/
    /*padding-bottom: 4%;*/
    text-align: left;
}

.xiaoxi000001 {
    background-image: url("../image/index/xiaoxi01.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    background-size: 100% 100%;
    /*width: 80%;*/
    /*height: 15%;*/
    /*padding-bottom: 4%;*/
    text-align: left;
}

.xiaoxi000002 {
    background-image: url("../image/index/xiaoxi02.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    background-size: 100% 100%;
    /*width: 80%;*/
    /*height: 15%;*/
    /*padding-bottom: 4%;*/
    text-align: left;
}

.index_img_span_baomingshouye {
    /*margin-top:35%;*/
    background-image: url("../image/index/baomingshouye.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    /*background-size: 100% 100%;*/
    /*background-position:10px 20px 30px 40px;*/
    background-size: 100% 50%;
    background-position: 50% 50%;
    width: 25%;
    /*height: 15%;*/
    /*padding-top: 1%;*/
    padding-bottom: 2%;
    text-align: left;
}

.baomingxitong {
    background-image: url("../image/index/baomingxitong.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    /*background-size: 100% 100%;*/
    /*background-position:10px 20px 30px 40px;*/
    background-size: 100% 100%;
}

.index_img_span_xitongcaozuozhinan {
    background-image: url("../image/index/xitongcaozuozhinan.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    background-size: 100% 100%;
    width: 25%;
    /*height: 15%;*/
    padding-bottom: 4%;
    text-align: left;
}

.index_img_span_xiaoxi22 {
    background-image: url("../image/index/huanying2.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    padding-bottom: 4%;
    text-align: left;
}

.index_img_span_baomingtiaojian {
    background-image: url("../image/index/baomingtiaojian.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    background-size: 100% 100%;
    width: 25%;
    /*height: 15%;*/
    padding-bottom: 4%;
    text-align: left;
}

.index_img_span_xuanzebaokaozhiye {
    /*background-image: url("../image/index/xuanzebaokaozhiye.png");*/
    /*background-repeat: no-repeat;*/
    /*background-repeat:repeat-y;*/
    /*background-size: 90% 90%;*/
    width: 20%;
    /*height: 15%;*/
    padding-bottom: 2%;
    text-align: left;
}

.index_img_span_quit {
    width: 25%;
    /*height: 15%;*/
    padding-bottom: 4%;
    text-align: left;
}

.user_span {
    background-image: url("../image/index/huanying3.png");
    background-repeat: no-repeat;
    /*background-repeat:repeat-y;*/
    background-size: 100%;
    /*background-size: auto;*/
    /*width: 20px;*/
    /*height: 25px;*/
    /*color: black;*/
    height: 25%;
    /*margin-bottom: 25%;*/
    padding: 5%;
    font-size: 12px;
}

.button_index_top_large {
    background-image: url("../image/index/index_button.png");
    width: 110px;
    height: 25px;
    color: black;
    font-size: 12px;
}

.button_index_top_middle {
    background-image: url("../image/index/index_button.png");
    width: 70px;
    height: 25px;
    color: black;
    font-size: 12px;
}

.button_index_top_middle_index_message {
    background-image: url("../image/index/xiaoxi.png");
    width: 70px;
    height: 25px;
    color: black;
    font-size: 8px;
}


/*.button_index_top_worker{*/


/*    background-image: url("../image/index/index_button.png");*/


/*    width: 110px;*/


/*    height: 25px;*/


/*    color: whitesmoke;*/


/*    font-size: 12px;*/


/*}*/

.worker_table_sub_td {
    width: 100%;
    padding-left: 0;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

.worker_table_sub_td_quit_01 {
    padding-left: 12%;
    width: 1000px;
}

.worker_table_sub_td a {
    color: whitesmoke;
}

.button_index_top a {
    color: black;
    font-size: 10px;
}

.term_table {
    margin-left: 30%;
}

.system_index_table {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.worker_table {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.worker_table_quit {
    width: 1000px;
    padding-left: 4%;
    margin-left: 15%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-right: 5%;*/
}

.direct_table {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1350px) {
    .nav_header {
        /*text-align: center;*/
        margin-bottom: 70px;
    }
    nav {
        background-image: url("../images/gif/lx.gif");
        /*background-image: url("../images/xinghe2.jpg");*/
        background-repeat: repeat-x;
        background-color: transparent;
        /*background-size: 100% 100%;*/
        -moz-background-size: 100% 100%;
        /*background: #202020;*/
        /*box-shadow: 1px 1px 2px #5c4b51;*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        /*height: 60px;*/
        height: 12px;
        font: 14px Rokkitt;
        padding: 20px 1px;
        top: 0;
        /*left: 10%;*/
        /*right: 15%;*/
        text-transform: uppercase;
        width: 100%;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }
    .sub_main_nav {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        height: 200%;
        width: 60%;
        line-height: 15px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .sub_main_nav .navbar_nav {
        margin-right: auto;
        margin-left: 45.5%;
        margin-top: auto;
        width: 60%;
        font-size: 12px;
        padding-inline-start: 1px;
    }
    .sub_main_nav .navbar_nav li {
        text-align: center;
        float: left;
        position: relative;
        display: block;
        padding: 0 2px;
        margin-left: auto;
        margin-right: auto;
    }
    nav .sub_main_nav .navbar_nav li a {
        text-decoration: none;
        height: 3%;
        /*padding: 0 6px;*/
        display: flex;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        color: #fff;
        font-size: 10px;
    }
    #sideMenu {
        color: #f06060;
        float: right;
        z-index: 5;
        font-size: 10px;
        width: 40%;
        margin-top: auto;
        margin-bottom: auto;
        text-align: right;
    }
    .like_form {
        margin-top: 5%;
        /*top: 50px;*/
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5%;
        /*margin: 5% auto 3% auto;*/
        /*height: 100%;*/
        /*min-height: 550px;*/
        /*width: 100%;*/
        /*max-width: 1200px;*/
        /*border: 1px solid #999;*/
        /*text-align: center;*/
        border: 1px solid #999;
        width: 90%;
        min-width: 800px;
        max-width: 1200px;
        height: 100%;
        /*min-height: 550px;*/
        /*max-height: 600px;*/
        text-align: center;
    }
    .index_like_form {
        margin-bottom: 2%;
    }
    .teacher_ordinary {
        /*top: 100px;*/
        /*position: absolute;*/
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 15%;
        bottom: 15%;
        border: 1px solid #999;
        width: 90%;
        min-width: 800px;
        max-width: 1200px;
        height: 100%;
        /*min-height: 550px;*/
        /*max-height: 600px;*/
        text-align: center;
    }
    .footer_div {
        width: 100%;
        bottom: 0;
        position: fixed;
        height: 33px;
        line-height: 12px;
        text-align: center;
        font-size: 8px;
        color: #929293;
        background-color: #e9e9e9;
    }
    .not_fix_footer_div {
        margin-top: 10px;
        width: 100%;
        bottom: 0;
        position: relative;
        height: 33px;
        line-height: 12px;
        text-align: center;
        font-size: 8px;
        color: #929293;
        background-color: #e9e9e9;
    }
    #sideMenuContainer {
        background: #191970;
        height: 600px;
        padding: 10px;
        position: fixed;
        top: 50px;
        right: -250px;
        width: 100px;
        z-index: 4;
        overflow: scroll;
        /* filter:alpha(Opacity=80); ͸������
        -moz-opacity:0.5;
        opacity: 0.5; */
    }
    .table-head>th {
        text-align: center;
        word-wrap: break-word;
        /*border: 1px;*/
        /*border-bottom-left-radius: 1px;*/
        /*border-bottom-right-radius: 1px;*/
        height: 30px;
        font-size: 10px;
        color: white;
        /*后置属性*/
        word-break: break-all;
        white-space: normal;
        max-width: 80px;
    }
    .long_head {
        font-size: 7px;
    }
    .too_long_head {
        font-size: 7px;
    }
    .table-tr>td {
        text-align: center;
        word-wrap: break-word;
        height: 10px;
        font-size: 8px;
        color: white;
        /*后置属性*/
        word-break: break-all;
        white-space: normal;
        max-width: 80px;
    }
    #sideMenuContainer>a::after {
        color: #FF0000;
        font-size: 60%;
    }
    .table_head_term th {
        font-size: 9px;
    }
    .table-tr td {
        height: 4%;
    }
    .table-tr td {
        font-size: 7px;
        text-align: center;
    }
    .id_number_list {
        font-size: 6px;
    }
    .ipt {
        height: 14px;
        font-size: 8px;
    }
    .identification_level_label {
        font-size: 12px;
    }
}

@media (max-width: 764px) {
    .sub_main_nav {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        height: 200%;
        width: 50%;
        line-height: 15px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .sub_main_nav .navbar_nav {
        margin-right: auto;
        margin-left: 10%;
        margin-top: auto;
        width: 60%;
        font-size: 10px;
        padding-inline-start: 1px;
    }
    .sub_main_nav .navbar_nav li {
        text-align: center;
        float: left;
        position: relative;
        display: block;
        padding: 0 2px;
        margin-left: auto;
        margin-right: auto;
    }
    nav .sub_main_nav .navbar_nav li a {
        text-decoration: none;
        height: 3%;
        /*padding: 0 6px;*/
        display: flex;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        color: #fff;
        font-size: 10px;
    }
    #sideMenu {
        color: #f06060;
        float: right;
        z-index: 5;
        font-size: 10px;
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;
        text-align: right;
    }
    .like_form {
        margin-top: 5%;
        /*margin: 30px auto 3% auto;*/
        border: 1px solid #999;
        width: 100%;
        /*min-width: 800px;*/
        max-width: 650px;
        height: 100%;
        /*min-height: 550px;*/
        /*max-height: 600px;*/
        text-align: center;
    }
    .index_like_form {
        text-align: center;
        margin-bottom: 2%;
    }
    .teacher_ordinary {
        margin-top: 5%;
        bottom: 15%;
        /*margin: 30px auto 3% auto;*/
        border: 1px solid #999;
        width: 100%;
        /*min-width: 800px;*/
        max-width: 650px;
        height: 100%;
        /*min-height: 550px;*/
        /*max-height: 600px;*/
        text-align: center;
    }
    .report_list {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid #000;
        max-width: 700px;
        position: relative;
        padding-bottom: 0;
        height: 100%;
        min-height: 500px;
    }
    .footer_div {
        width: 100%;
        bottom: 0;
        position: fixed;
        height: 33px;
        line-height: 12px;
        text-align: center;
        font-size: 8px;
        color: #929293;
        background-color: #e9e9e9;
    }
    .work_type_a a {
        color: #f8fff9;
        text-align: center;
        font-size: 9px;
    }
    .bor {
        border: 1px dashed #F00;
        max-width: 600px;
        /*height: 60px;*/
        /*margin-top: 10px*/
    }
    #sideMenuContainer {
        background: #191970;
        height: 600px;
        padding: 10px;
        position: fixed;
        top: 50px;
        right: -250px;
        width: 100px;
        z-index: 4;
        overflow: scroll;
        /* filter:alpha(Opacity=80); ͸������
        -moz-opacity:0.5;
        opacity: 0.5; */
    }
    #sideMenuContainer>a::after {
        color: #FF0000;
        font-size: 60%;
    }
    .check_session span {
        font-size: 8px;
    }
    .dropbtn-index {
        width: 60px;
        background-color: #f8f3fa;
        color: white;
        padding: 5px;
        font-size: 10px;
        border: none;
        cursor: pointer;
    }
    .table_head_term th {
        font-size: 8px;
    }
    .table-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 700px;
        box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
    }
    .fl-table {
        border: none;
        border-radius: 5px;
        font-weight: normal;
        width: 100%;
        max-width: 650px;
        text-align: center;
        white-space: nowrap;
    }
    .table_head_chemical_not th {
        font-size: 12px;
    }
    .table-tr {
        height: 2%;
    }
    .table-tr td {
        font-size: 0.1em;
        text-align: center;
    }
    .search-div {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}