<!--电工、焊工、钳工、劳动员、育婴员、保育员 填报页面-->
{% load filter_model %}
<div class="teacher_ordinary">
    <label class="input_text_head">纺织类报名表</label>
    <p style="text-align: center">
        <label style="color: lawngreen" class="school_term_name">
            {% if school_term == 0%}
                {{last_school_term.school_term_name}}
            {% else %}
                {{student_info.school_term.school_term_name}}
            {% endif %}
        </label> &nbsp;&nbsp;&nbsp;&nbsp;
        <label style="color: whitesmoke">开始日期：</label><label style="color: red" class="school_term_start">
            {% if school_term == 0%}
                {{last_school_term.school_term_start|date:"Y-m-d"}}
            {% else %}
                {{student_info.school_term.school_term_start|date:"Y-m-d"}}
            {% endif %}
        </label> &nbsp;&nbsp;&nbsp;&nbsp;
        <label style="color: whitesmoke">结束日期：</label><label style="color: red" class="school_term_end">
        {% if school_term == 0%}
                {{last_school_term.school_term_end|date:"Y-m-d"}}
            {% else %}
                {{student_info.school_term.school_term_end|date:"Y-m-d"}}
            {% endif %}
        </label>
    </p>
    <p style="text-align: right" class="p-search">
        <!--        <a href="/report/reporter_chemical_not/" target="_blank">-->
        <!--            <input type='button' style="color: midnightblue" value='下载本期' class='form-button'/>-->
        <!--        </a>-->
        <a href="javascript:void(0);">
            <input type='button' style="color: blueviolet;width: 10%" value='下载' class='form-button' onclick="reporter_spin();" />
        </a>
        <a href="javascript:void(0);">
            <input type="button" style="color: hotpink" value='<<查询' onclick="recover_search();" class='form-button' />
        </a>
    </p>

    <hr class="hr-search">
    <form action="/report/administrator_reporter_spin/" method="get" id="form-search-spin">
        {% csrf_token %} {{ form }}
        <table class='form-table form-table-search'>
            <tr>
                <td class="form-label td-span">

                </td>
                <td class="form-label td-input">

                </td>
                <td class="form-label td-span">
                    <font color='#ff0000'>* </font>
                    <label for='' class="input_text">报考学期：</label>
                </td>
                <td class="form-label td-input">
                    <input type="hidden" id='search_school_term' class="search_school_term" name="school_term" value="{{ school_term }}">
                    <select class='form-select school_term_search' id="school_term_search" onchange="school_term_a_search(this.options[this.options.selectedIndex].value,'{{tmp_list}}');">
                        <option value="0">--请选择--</option>
                        {% for term in school_terms%}
                        {% if term.id == school_term %}
                        <option value="{{term.id}}" selected="selected">{{term.school_term_name}}</option>
                        {% else%}
                        <option value="{{term.id}}">{{term.school_term_name}}</option>
                        {% endif%}
                        {% endfor%}
                    </select>
                    <label style='color:red'></label>
                </td>
            </tr>
            <tr>
                <td class="form-label td-span">

                </td>
                <td class="form-label td-input">

                </td>
                <td class="form-label td-span">
                    <font color='#ff0000'>* </font>
                    <span class="input_text">申报鉴定职业：</span>
                    <br>
                    <span class="input_text">(申报职业)：</span>
                </td>
                <td class="form-label td-input">
                    <input type='text' name='declaration_of_occupation' value='{{student_info.declaration_of_occupation}}' onchange="declaration_of_occupation_clear_search(this.value);" id="declaration_of_occupation_search" class='ipt' />
                    <label style='color:red'></label>
                </td>
                <td class="form-label td-span">
                    <font color='#ff0000'>* </font>
                    <span class="input_text">申报鉴定级别：</span>
                    <br>
                    <span class="input_text">(鉴定级别)：</span>
                </td>
                <td class="form-label td-input">
                    <input type="hidden" value="{{ identification_level}}" name="identification_level" class="identification_level_search" id="search_identification_level">
                    <select class='form-select' onchange="identification_level_search_f(this.options[this.options.selectedIndex].value);" id='identification_level_search' title="高级（三级）、中级（四级）、初级（五级）">
                        <option value="0">--请选择--</option>
                        <!--                        <option value="1">高级技师</option>-->
                        <!--                        <option value="2">技师</option>-->
                        <option value="5">初级（五级）</option>
                        <option value="4">中级（四级）</option>
                        <option value="3">高级（三级）</option>
                    </select>
                    <label style='color:red'></label>
                </td>
                <td class="form-label td-span">

                </td>
                <td class="form-label td-input">

                </td>
            </tr>
            <tr>
            </tr>

            <tr>
                <td class="form-label td-span">

                </td>
                <td class="form-label td-input">

                </td>
                {% if request.session.role_name == 'administrator' %}
                <td class="form-label td-span">
                    <font color='#ff0000'>* </font>
                    <label for='' class="input_text">单位负责报名的负责人：</label>
                </td>
                <td class="form-label td-input">
                    <input type="hidden" id='search_teacher_info' class="teacher_info_search" name="teacher_info" value="{{ teacher_info }}">
                    <select class='form-select teacher-info-search' id="teacher_info_search" onchange="teacher_info_a_search(this.options[this.options.selectedIndex].value);">
                        <option value="0">--请选择--</option>
                        {% for teacher in teacher_infos%}
                        {% if teacher.id == teacher_info %}
                        <option value="{{teacher.id}}" selected="selected">{{teacher.user_info.real_name}}</option>
                        {% else%}
                        <option value="{{teacher.id}}">{{teacher.user_info.real_name}}</option>
                        {% endif%}
                        {% endfor%}
                    </select>
                    <label style='color:red'></label>
                </td>
                <td class="form-label td-span">

                </td>
                <td class="form-label td-input">

                </td>
                <td class="form-label td-span">

                </td>
                {% else %}
                <td hidden class="form-label td-input">
                    <input type="hidden" id='search_teacher_info' class="teacher_info_search" name="teacher_info" value="{{ teacher_info }}">
                    <select disabled hidden class='form-select teacher-info-search' id="teacher_info_search" onchange="teacher_info_a_search(this.options[this.options.selectedIndex].value);">
                        <option value="0">--请选择--</option>
                        {% for teacher in teacher_infos%}
                        {% if teacher.id == teacher_info %}
                        <option value="{{teacher.id}}" selected="selected">{{teacher.user_info.real_name}}</option>
                        {% else%}
                        <option value="{{teacher.id}}">{{teacher.user_info.real_name}}</option>
                        {% endif%}
                        {% endfor%}
                    </select>
                    <label style='color:red'></label>
                </td> {% endif %}

            </tr>
            <tr>
                <td class="form-label td-span">

                </td>
                <td class="form-label td-input">

                </td>
                <td class="form-label td-span">
                    <font color='#ff0000'>* </font>
                    <span class="input_text">学员姓名：</span>
                </td>
                <td class="form-label td-input">
                    <input type='text' name='real_name' value='{{ student_info.user_info.real_name }}' maxlength="15" class='ipt' />
                    <label style='color:red'></label>
                </td>
                <td class="form-label td-span">
                </td>
                <td class="form-label td-input">
                </td>
            </tr>
            <tr></tr>
            </tbody>
        </table>
        <a href="javascript:void(0);" class="a-search">
            <input type="hidden" name="page" id="page_chemical_info_list_not" value="{{contacts.page}}" />
            <input type="hidden" name="per_page" id="pagesize_chemical_info_list_not" value="{{contacts.paginator.per_page}}" />
            <input type='submit' style="color: deeppink;width: 10%" value='查询' class='form-button' id="submit-reporter-spin-search" />
        </a>
        <!--        <a href="javascript:void(0);" target="_blank" class="a-search">-->
        <!--            <input type='reset' style="color: green" value='清空条件' class='submitBtn form-button'/>-->
        <!--        </a>-->
        <a href="javascript:void(0);" class="a-search">
            <input type='button' style="color: blueviolet;width: 10%" value='下载查询结果' class='form-button' onclick="reporter_spin();" />
        </a>
        <a href="javascript:void(0);" class="a-search-cancel">
            <input type='button' style="color: magenta;width: 10%" value='>>收起查询' onclick="cancel_search();"
                   class='form-button'/>
        </a>
    </form>

    <hr>
    <div class="table-wrapper table_wrapper_no_action_list">

        <table class="fl-table" border="1.5" style="overflow-x: scroll; white-space: nowrap; text-align: center !important; color: #000000;">
            <thead>
                <tr class="table-head table_head_chemical_not">
                    <th class="fix_small">序号</th>
                    <th class="term_head">学期</th>
                    <th class="name_head">姓名</th>
                    <th class="id_number_list_head">身份证号码</th>
                    <th class="fix_small">性别</th>
                    <th class="fix_width"><label class="long_head">文化程度</label></th>
                    <th class="fix_width"><label class="long_head">考核专业</label><br><label class="long_head">(工种)</label></th>
                    <th class="date_head"><label class="long_head">从事或参加</label><br><label class="long_head">工作时间</label></th>
                    <th class="fix_small_middle_year"><label class="long_head">本职业</label><br><label class="long_head">工作年限</label></th>
                    <th class="fix_small_middle"><label>鉴定</label><br><label>级别</label></th>
                    <th class="fix_small_middle_achievement"><label class="long_head_achievement">考核鉴定</label><br><label class="long_head_achievement">成绩(理论)</label></th>
                    <th class="fix_small_middle_achievement"><label class="long_head_achievement">考核鉴定</label><br><label class="long_head_achievement">成绩(实操)</label></th>
                    <th class="fix_width">证书编号</th>
                    <th class="fix_width"><label class="long_head">原证书级别</label><br><label class="long_head">或证书编号</label></th>
                    <th class="fix_width"><label class="long_head">报名</label><br><label class="long_head">或发证时间</label></th>
                </tr>
            </thead>
            <tbody>
                {% for student in contacts %}
                <tr class="table-tr">
                    <td>{{forloop.counter}}</td>
                    <td>{{student.school_term.school_term_name}}</td>
                    <td>{{student.user_info.real_name}}</td>
                    <td class="id_number_list">{{student.user_info.id_number}}</td>
                    <td>{{student.user_info.sex|get_sex}}</td>
                    <td>{{ student.user_info.education_degree.education_name }}</td>
                    {% if student.declaration_of_occupation != "无机化学反应生产工"%} {% if student.declaration_of_occupation != "起重装卸机械操作工"%} {% if student.declaration_of_occupation != "工业固体废物处理处置工"%}
                    <td>{{student.declaration_of_occupation}}</td>
                    {% else %}
                    <td><label>工业固体废物</label><br><label>处理处置工</label></td>
                    {%endif%} {% else %}
                    <td><label>起重装卸</label><br><label>机械操作工</label></td>
                    {%endif%} {% else %}
                    <td><label>无机化学</label><br><label>反应生产工</label></td>
                    {%endif%}
                    <td>{{ student.user_info.start_working_date|date:"Y-m-d" }}</td>
                    {% if student.identification_level == "4"%} {% if student.original_certificate_worker_year > 0 %}
                    <td></td>
                    {% else %} {% if student.career_life > 0 %}
                    <td>{{student.career_life|get_zero }}</td>
                    {% else %} {% if student.apprentice_year > 0 %}
                    <td>{{student.apprentice_year|get_zero }}</td>
                    {% else %} {% if student.apprentice_month > 0 %}
                    <td>{{student.apprentice_month|get_zero }}月</td>
                    {% else %}
                    <td></td>
                    {% endif %} {% endif %} {% endif %} {% endif %} {% else %} {% if student.identification_level == "3"%}
                    <td></td>
                    {% else %} {% if student.original_certificate_worker_year > 0 %}
                    <td>{{student.original_certificate_worker_year|get_zero }}</td>
                    {% else %} {% if student.career_life > 0 %}
                    <td>{{student.career_life|get_zero }}</td>
                    {% else %} {% if student.apprentice_year > 0 %}
                    <td>{{student.apprentice_year|get_zero }}</td>
                    {% else %} {% if student.apprentice_month > 0 %}
                    <td>{{student.apprentice_month|get_zero }}月</td>
                    {% else %}
                    <td></td>
                    {% endif %} {% endif %} {% endif %} {% endif %} {% endif %} {% endif %}
                    <td>{{ student.identification_level|get_identification_level }}</td>
                    <td>{{ student.theoretical_achievements|get_zero}}</td>
                    <td>{{ student.practical_operation|get_zero}}</td>
                    <td>{{student.current_certificate_number|get_none }}</td>
                    <td>{{student.original_certificate_number|get_none }}</td>
                    <td>{{student_info.issuance_time|date:"Y-m-d"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination" style="color: ghostwhite">
        <span class="step-links">
			每页展示：<select onchange="getPageResizeWithSearch(this.options[this.options.selectedIndex].value, 'pagesize_chemical_info_list_not','submit-reporter-chemical-not-search');">
				{% if contacts.paginator.per_page == 10 %}
				<option value="{{contacts.paginator.per_page}}" selected>{{contacts.paginator.per_page}}</option>
				<option value="20">20</option>
				<option value="30">30</option>
				{% elif contacts.paginator.per_page == 20 %}
				<option value="10">10</option>
				<option value="{{per_page}}" selected>{{contacts.paginator.per_page}}</option>
				<option value="30">30</option>
				{% elif contacts.paginator.per_page == 30 %}
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="{{contacts.paginator.per_page}}" selected>{{contacts.paginator.per_page}}</option>
				{%else%} {%endif%}
			</select>&nbsp;条&nbsp;
			{% if contacts.has_previous %}
			<a href="javascript:void(0)" onclick="gotoPageWithSearch(1,'page_chemical_info_list_not','submit-reporter-chemical-not-search');">&laquo; 首页</a>
			<a href="javascript:void(0)" onclick="gotoPageWithSearch({{ contacts.previous_page_number }}, 'page_chemical_info_list_not', 'submit-reporter-chemical-not-search');">上一页</a>
			{% endif %}
	
			<span class="current">
				第 {{ contacts.number }} 页 ,总共 {{ contacts.paginator.num_pages }} 页.
			</span> {% if contacts.has_next %}
        <a href="javascript:void(0)" onclick="gotoPageWithSearch({{ contacts.next_page_number }},'page_chemical_info_list_not','submit-reporter-chemical-not-search');">下一页</a>
        <a href="javascript:void(0)" onclick="gotoPageWithSearch({{ contacts.paginator.num_pages }},'page_chemical_info_list_not','submit-reporter-chemical-not-search');">尾页 &raquo;</a> {%endif %}
        <span class="current">
				总 <label>{{ contacts.paginator.count }}</label> 条记录数据.
			</span>

        <span class="current">
				跳转至:<input type="text" placeholder="{{contacts.number}}" style="width: 50px;height: 20px;" value="" class="goto_page_appoint" id="goto_page_chemical_info_list_not"/>&nbsp;页
				<a href="javascript:void(0)" onclick="gotoWithSearchToPage('goto_page_chemical_info_list_not','page_chemical_info_list_not','submit-reporter-chemical-not-search');">Go</a>
			</span>
        </span>
    </div>

    <!--    <div class="pagination" style="color: ghostwhite">
        <span class="step-links">
        {% if contacts.has_previous %}
            <a style="color: #00FF00" href="?page=1">&laquo; 首页</a>
            <a style="color: yellow" href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            第 {{ contacts.number }} 页 ,总共 {{ contacts.paginator.num_pages }} 页.
        </span> {% if contacts.has_next %}
        <a style="color: yellow" href="?page={{ contacts.next_page_number }}">下一页</a>
        <a style="color: red" href="?page={{ contacts.paginator.num_pages }}">尾页 &raquo;</a> {% endif %}
        </span>
    </div> -->
</div>