<!--电工、焊工、钳工、劳动员、育婴员、保育员 填报页面-->
{% load filter_model %}
<div class="teacher_ordinary">
    <label class="input_text_head">山东省职业技能鉴定报名基础资料汇总表</label>
    <p style="text-align: right">
        <a href="/report/download_apply?studentId={{student_info.id}}" target="_blank"><input type='button'
                                                                                              style="color: deeppink"
                                                                                              value='下载'
                                                                                              class='submitBtn form-button'/></a>
    </p>
    <hr>
    <table class='datalist-table' border="1.5"
           style="overflow-x: scroll; white-space: nowrap; text-align: center !important; color: #000000;">
        <thead>
        <tr class="table-head">
            <th style="width: 5%">序号</th>
            <th style="width: 20px">姓名</th>
            <th style="width: 8px">公民身份证号码</th>
            <th>性别</th>
            <th style="width: 10px">初级中学</th>
            <th>考核专业（工种）</th>
            <th>从事工作或参加工作时间</th>
            <th>鉴定级别</th>
        </tr>
        </thead>
        <tbody>
        {% for student in contacts %}
        <tr class="table-tr">
            <td>{{forloop.counter}}</td>
            <td>{{student.user_info.real_name}}</td>
            <td>{{student.user_info.id_number}}</td>
            <td>{{student.user_info.sex|get_sex}}</td>
            <td>{{student.issue_unit}}</td>
            <td>{{ student.declaration_of_occupation }}</td>
            <td>{{ student.user_info.start_working_date|date:"Y-m-d" }}</td>
            <td>{{ student.identification_level|get_identification_level }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination" style="color: ghostwhite">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a style="color: #00FF00" href="?page=1">&laquo; 首页</a>
            <a style="color: yellow" href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            第 {{ contacts.number }} 页 ,总共 {{ contacts.paginator.num_pages }} 页.
        </span>

        {% if contacts.has_next %}
            <a style="color: yellow" href="?page={{ contacts.next_page_number }}">下一页</a>
            <a style="color: red" href="?page={{ contacts.paginator.num_pages }}">尾页 &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>