<!--电工、焊工、钳工、劳动员、育婴员、保育员 填报页面-->
{% load filter_model %}
<div class="teacher_ordinary">
    <label class="input_text_head">山东省职业技能鉴定报名系统负责人列表</label>
    <hr>
    <div>
        <p style="text-align: right">
            <a href="javascript:void(0);">
                <input type='button' style="color: deeppink" value='添加负责人' class='form-button-add-teacher'/>
            </a>
        </p>
    </div>
    <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>
    <div class="table-wrapper">

        <table class="fl-table" border="1.5"
               style="overflow-x: scroll; white-space: nowrap; text-align: center !important; color: #000000;">
        <thead>
        <tr class="table-head">
            <th>序号</th>
            <th>编号</th>
            <th>姓&nbsp;&nbsp;&nbsp;名</th>
            <th>系统昵称</th>
<!--            <th>性别</th>-->
            <th>电话号码</th>
            <th>单位</th>
            <th>状态</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in contacts %}
        <tr class="table-tr">
            <td>{{forloop.counter}}</td>
            <td>{{teacher.number}}</td>
            <td>{{teacher.user_info.real_name}}</td>
            <td>{{teacher.user_info.register_user_info.nickname}}</td>
<!--            <td>{{teacher.user_info.sex|get_sex}}</td>-->
            <td>{{ teacher.user_info.contact_number|get_none }}</td>
            <td>{{ teacher.user_info.work_unit|get_none }}</td>
            <td>{{ teacher.status|get_status }}</td>
            <td>{{ teacher.explain }}</td>
            <td>
                <div class="dropdown">
                    <button class="dropbtn">操作</button>
                    <div class="dropdown-content">
                        <a href='javascript:void(0);'
                           onclick="to_update_teacher('{{teacher.pk}}')">
                            <button>修改</button>
                        </a>
                        <!--                        <a href='/report/student_info_detail?studentId={{student.pk}}'>-->
                        <!--                            <button>详情</button>-->
                        <!--                        </a>-->
                        {% if teacher.status == "1"%}
                        <a href='javascript:void(0);' onclick="cancel_teacher('{{teacher.pk}}')">
                            <button>注销</button>
                        </a>
                        {% elif teacher.status == "2"%}
                        <a href='javascript:void(0);' onclick="start_teacher('{{teacher.pk}}')">
                            <button>启用</button>
                        </a>
                        {% else%}
                        {% endif%}
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="pagination" style="color: ghostwhite">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a style="color: #00FF00" href="?page=1">&laquo; 首页</a>
            <a style="color: yellow" href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            第 {{ contacts.number }} 页 ,总共 {{ contacts.paginator.num_pages }} 页.
        </span>

        {% if contacts.has_next %}
            <a style="color: yellow" href="?page={{ contacts.next_page_number }}">下一页</a>
            <a style="color: red" href="?page={{ contacts.paginator.num_pages }}">尾页 &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>

<div class="box box_teacher">
    <div class="regiest">
        <form action="" id='register-form-teacher' method="post">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" value="" name='update_id' id="update-id">
            <table style="margin-top: 5%;margin-left: auto;margin-right: auto;">
                <tbody>
                <tr>
                    <td><label class="add_teacher_label">用户名:</label></td>
                    <td><input class="add_teacher_input" type="text" name="username" id="username-teacher" value="" required="required"
                               placeholder="例如：ldh 英文、数字或简拼"
                               title="例如：ldh 英文、数字或简拼"
                               onblur="check_username_teacher();" onchange="check_username_teacher();"></td>
                    <td style="width: auto;"><span class="message-label" id="username-teacher-label"
                                                   style="color:red;margin-left: 1%; float: left;"></span></td>
                </tr>
                <tr>
                    <td><label class="add_teacher_label">昵称:</label>
                    </td>
                    <td><input class="add_teacher_input" type="text" name="nickname" id="nickname-teacher" placeholder="昵称" required="required"
                               onblur="check_nickname_teacher();" onchange="check_nickname_teacher();"></td>
                    <td style="width: auto;"><span class="message-label"
                                                   style="color:red;margin-left: 1%; float: left"></span></td>
                </tr>
                <tr>
                    <td><label class="add_teacher_label">姓名:</label>
                    </td>
                    <td><input class="add_teacher_input" type="text" name="real_name" id="realname-teacher" placeholder="真实姓名" required="required"
                               maxlength="6"
                               minlength="2"
                               onblur="" onchange=""></td>
                    <td style="width: auto;"><span class="message-label"
                                                   style="color:red;margin-left: 1%; float: left"></span></td>
                </tr>
                <tr>
                    <td><label class="add_teacher_label">联系电话:</label>
                    </td>
                    <td><input class="add_teacher_input" type="text" name="contact_number" id="contact-teacher" placeholder="联系电话"
                               required="required" maxlength="11"
                               minlength="6"
                               onblur="" onchange=""></td>
                    <td style="width: auto;"><span class="message-label"
                                                   style="color:red;margin-left: 1%; float: left"></span></td>
                </tr>
                <tr>
                    <td><label class="add_teacher_label">负责单位:</label>
                    </td>
                    <td><input class="add_teacher_input" type="text" name="work_unit" id="unit-teacher" placeholder="负责单位" required="required"
                               maxlength="30"
                               minlength="2"
                               onblur="" onchange=""></td>
                    <td style="width: auto;"><span class="message-label"
                                                   style="color:red;margin-left: 1%; float: left"></span></td>
                </tr>
                <tr class="passwordReg-teacher">
                    <td><label
                            class="add_teacher_label">密码:</label>
                    </td>
                    <td><input class="add_teacher_input" type="password" name="password" id="passwordReg-teacher" placeholder="密码"
                               required="required"
                               onblur="check_password_teacher();" onchange="check_password_teacher();"></td>
                    <td style="width: auto;"><span class="message-label"
                                                   style="color:red;margin-left: 1%; float: left"></span></td>
                </tr>
                <tr class="finalPWD-teacher">
                    <td><label class="add_teacher_label">确认密码:</label></td>
                    <td><input class="add_teacher_input" type="password" id="finalPWD-teacher" placeholder="确认密码" required="required"
                               onblur="check_equal_teacher();" onchange="check_equal_teacher();"></td>
                    <td style="width: auto;"><span class="message-label"
                                                   style="color:red;margin-left: 1%; float: left"></span></td>
                </tr>
                <tr>
                    <td><label class="add_teacher_label">备注:</label>
                    </td>
                    <td>
                        <textarea name='explain' class='ipt form-textarea form-textarea-term' rows="1"
                                  maxlength="60"
                                  id="teacher_explain"
                                  cols="20">
                        </textarea>
                    </td>
                    <td style="width: auto;"><span class="message-label"
                                                   style="color:red;margin-left: 1%; float: left"></span></td>
                </tr>
                </tbody>
            </table>
            <input type='button' style="color: hotpink;width: 15%" value='提交'
                   class='form-button submit-teacher' onclick="add_teacher();" id='teacher_button'/>

            <input type='button' style="color: hotpink;width: 15%" value="关闭" class='form-button close_teacher'/>
        </form>
    </div>
</div>

<script type="text/javascript">
    $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'}});
    $(function () {
        $(".form-button-add-teacher").click(function () {
            let username = $("#username");
            username.empty();
            let passwordReg = $("#passwordReg");
            passwordReg.empty();
            let left = ($(window).width() * (1 - 0.35)) / 2;//box弹出框距离左边的额距离
            let height = ($(window).height() * (1 - 0.6)) / 2;
            $(".box_teacher").addClass("animated bounceIn").show().css({left: left, top: height});
            $(".opacity_bg").css("opacity", "0.3").show();
        });


        $(".close_teacher").click(function () {
            let left = ($(window).width() * (1 - 0.35)) / 2;
            let top = ($(window).height() * (1 - 0.5)) / 2;
            $(".box_teacher").show().animate({
                width: "-$(window).width()*0.35",
                height: "-$(window).height()*0.5",
                left: "-" + left + "px",
                top: "-" + top + "px"
            }, 1000, function () {
                let width1 = $(window).width() * 0.35;
                let height1 = $(window).height() * 0.5;
                $(this).css({width: width1, height: height1}).hide();
            });
            window.location.reload();
        });
    });
</script>
