<!--电工、焊工、钳工、劳动员、育婴员、保育员 填报页面-->
{% load filter_model %} {% load condition_selected %}
<div class="like_form">
    <label class="input_text_head">国家资格证德州杏林学校报名系统</label>
    <hr>
    <div class="image-box">
        <div class="images">
            <form action="/report/image_upload/" id='imageUpload-form' method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ form }}
                <input type="hidden" name='photo_type' id="photo_type" value="">
                <table>
                    <tbody>
                        <!--                    <tr>-->
                        <!--                        <td><label style="color: honeydew;float: right">&nbsp;&nbsp;&nbsp;&nbsp;图片说明:</label></td>-->
                        <!--                        <td><input type="text" name="picture_name" id="picture_name" style="float: left" placeholder="可以为空"></td>-->
                        <!--                        <td style="width: auto;"><span class="message-label" style="color:red;margin-left: 1%; float: left;"></span></td>-->
                        <!--                    </tr>-->
                        <tr>
                            <td colspan="3" style="text-align: left">
                                <label style="color: greenyellow" class="input_text">
                                请认真阅读以下图片上传说明，以便更好地为您服务
                            </label>
                                <br>
                                <label style="color: white" class="input_text">
                                ①图片格式为:jpg
                            </label>
                                <br>
                                <label style="color: white" class="input_text">
                                ②大小不大于100k
                            </label>
                                <br>
                                <label style="color: white" class="input_text">
                                ③把大体积图片缩小为小于100k图片的方法：在电脑上点"开始"→"所有程序"→"附件"→"画图"n→点菜单中
                                的"打开"→选择要缩小的图片→点击"调整大小和扭曲"→按照图片大小小于100k的要求
                                缩小"重新调整大小"的"百分比"数值→确定→菜单栏"另存为"到指定路径→确认照片体积是否符合要求
                                （尽量使处理后的图片为100k，不能小太多，否则不清晰。）
                            </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: left">
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">
                                <!--                            <label for="file" style="color: honeydew"-->
                                <!--                                   class="input_text">&nbsp;&nbsp;&nbsp;&nbsp;选择图片:</label>-->
                                <input type="file" accept="image/*" name="file" id="file" required="required" class="ipt" value="选择图片" title="请选择将要上传的图片">
                            </td>
                            <td style="width: auto;"><span class="message-label" style="color:red;margin-left: 1%; float: left;"></span></td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <input type="button" value="提交" class="image-submit" id="image-upload" style="color: black" onclick="image_upload()" />
                    <input type="button" value="关闭" class="image-close" style="color: black" />
                </p>
            </form>
        </div>
    </div>
    <form action="/report/student_info_update/" method="post" id="update-student-info-id">
        {% csrf_token %} {{ form }}
        <input type="hidden" value="{{student_info.id}}" name="obj_id">
        <table class='form-table' border="1">
            <tbody>
                <!--            第 1 行-->
                <tr>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">申报鉴定职业</span>
                        <br>
                        <span class="input_text">(申报职业)：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='declaration_of_occupation' required='required' value='{{student_info.declaration_of_occupation}}' id="declaration_of_occupation" readonly="readonly" class='ipt' />
                        <label style='color:red'></label>
                    </td>

                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">申报鉴定级别</span>
                        <br>
                        <span class="input_text">(鉴定级别)：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type="hidden" value="{{ student_info.identification_level}}" name="identification_level" id="update_identification_level">
                        <select class='form-select' name="identification_level" required="required" id='identification_level_update' title="高级（三级）、中级（四级）、初级（五级）" disabled="disabled">
                        <option value="" selected>---请选择---</option>
                        <!--                        <option value="1">高级技师</option>-->
                        <!--                        <option value="2">技师</option>-->
                        <option value="5">初级（五级）</option>
                        <option value="4">中级（四级）</option>
                        <option value="3">高级（三级）</option>
                    </select>
                        <label style='color:red'></label>
                    </td>
                </tr>
                <tr>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">申报条件：</span>
                        <input type="hidden" name="condition_selected" value="{{student_info.condition_selected}}" id="condition_selected_update">
                    </td>
                    <td class="form-label td-input condition_selected_update_class" colspan="5">
                        <label style='color:white'>{{ condition_selected }}</label>
                    </td>
                </tr>
                <tr>
                    <td class="form-label td-span">
                        <span class="input_text">备注(申报条件说明)：</span>
                    </td>
                    <td class="form-label td-input condition_selected_explain_update" colspan="5">
                    </td>
                </tr>
                <tr class="apprentice">
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">本职业学徒期开始时间：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type='date' name='apprentice_start' id='apprentice_start' onblur="change_apprentice_time_start(this.value)" value='{{ student_info.apprentice_start|date:"Y-m-d" }}' class='ipt' maxlength="10" title="本职业学徒开始时间,格式:1990-01-20" placeholder="格式:1990-01-20"
                        />
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">本职业学徒期结束时间：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type='date' name='apprentice_end' id='apprentice_end' value='{{ student_info.apprentice_end|date:"Y-m-d" }}' class='ipt' onblur="change_apprentice_time_end(this.value)" maxlength="10" title="本职业学徒结束时间,格式:1990-01-20" placeholder="格式:1990-01-20"
                        />
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">本职业学徒期：</span>
                        <input type="hidden" name="apprentice_year" value="{{ student_info.apprentice_year}}" id="apprentice_year" />
                        <input type="hidden" name="apprentice_month" value="{{ student_info.apprentice_month}}" id="apprentice_month" />

                        <label id="apprentice_year_label" style='color:white;text-decoration: black'>
                        {% if student_info.apprentice_year %}
                        {{student_info.apprentice_year}} :年
                        {% else %}
                        {% endif %}
                    </label>

                        <label id="apprentice_month_label" style='color:white;text-decoration: black'>
                        {% if student_info.apprentice_month%}
                        {{student_info.apprentice_month}} :月
                        {% else %}
                        {% endif %}
                    </label>

                    </td>
                </tr>
                <tr>
                    <td class="form-label td-span start_the_work_of_this_occupation">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">从事本职业工作</span>
                        <br>
                        <span class="input_text">开始时间：</span>
                    </td>
                    <td class="form-label td-input start_the_work_of_this_occupation">
                        <input type='date' name='start_the_work_of_this_occupation' id='start_the_work_of_this_occupation' onblur="change_start_the_work_of_this_occupation(this.value)" value='{{ student_info.start_the_work_of_this_occupation|date:"Y-m-d" }}' class='ipt' maxlength="10"
                            title="从事本职业工作开始时间,格式:1990-01-20" placeholder="格式:1990-01-20" />
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span career_life">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">累计从事本职业时间</span>
                        <br>
                        <span class="input_text">或从事本工种工龄（职业年限）：</span>
                    </td>
                    <td class="form-label td-input career_life">
                        <!--                           onchange="check_career_life(this.value);" onblur="check_career_life(this.value);"-->
                        <input type='hidden' name='career_life' value='{{ student_info.career_life|get_career_life}}' id="career_life" max="50" title="累计从事本职业年限" placeholder="累计从事本职业年限" class='ipt' />
                        <label for="career_life" class="input_text" style="color: whitesmoke" id="career_life_label_value">

                        {% if student_info.career_life%}
                        {{ student_info.career_life|get_career_life}} :年
                        {% else %}
                        {% endif %}
                    </label>
                        <label for="career_life" class="input_text" style="color: red" id="career_life_label"></label>
                    </td>
                </tr>
                <tr>
                    <td class="form-label td-span primary_level">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">原证书级别</span>
                        <br>
                        <span class="input_text">或证书级别</span>
                        <br>
                        <span class="input_text">或技术等级：</span>
                    </td>
                    <td class="form-label td-input primary_level">
                        <input type="hidden" name="primary_level" id='primary_level' value="{{student_info.primary_level}}">
                        <label style='color:white' id="primary_level_label_value">{{student_info.primary_level|get_primary_level}}</label>
                    </td>
                    <td class="form-label td-span former_occupation">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">证书本职业（工种）</span>
                        <br>
                        <span class="input_text">或相关职业（工种）：</span>
                    </td>
                    <td class="form-label td-input former_occupation">
                        <input type="text" name="former_occupation" id='former_occupation' value="{{student_info.former_occupation|get_none}}">
                    </td>
                </tr>
                <tr>
                    <td class="form-label td-span original_certificate_number">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">现持有职业资格证书</span>
                        <br>
                        <span class="input_text">编号(原证书编号)：</span>
                    </td>
                    <td class="form-label td-input original_certificate_number">
                        <input type='text' name='original_certificate_number' value='{{ student_info.original_certificate_number}}' id="original_certificate_number" title="此项目有证书填写相关证书16位编号，没有证书填写“无”" placeholder="此项目有证书填写相关证书16位编号，没有证书填写“无”" class='ipt form-number' />
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span issue_unit">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">现有资格证书发证单位：</span>
                    </td>
                    <td class="form-label td-input issue_unit">
                        <input type='text' name='issue_unit' value='{{ student_info.issue_unit}}' id='issue_unit' class='ipt' maxlength="50" title="此项由证书填写证书发证机构（发证机构公章名称），无证书填写“无”" placeholder="此项由证书填写证书发证机构（发证机构公章名称），无证书填写“无”" />
                        <label style='color:red'></label>
                    </td>
                </tr>
                <tr>
                    <td class="form-label td-span issuance_time">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">现有职业资格证发证时间：</span>
                    </td>
                    <td class="form-label td-input issuance_time">
                        <input type="date" name='issuance_time' id='issuance_time' value='{{ student_info.issuance_time|date:"Y-m-d" }}' class='ipt' maxlength="10" title="填写现持有证书发证日期,格式:1990-01-20" placeholder="格式:1990-01-20" onblur="change_original_certificate_worker_time(this.value)">
                        <label style='color:red'></label>
                    </td>

                    <td class="form-label td-span original_certificate_worker_time">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">获得现有资格证书后工作年限：</span>
                    </td>
                    <td class="form-label td-input original_certificate_worker_time">
                        <input type='hidden' readonly="readonly" name='original_certificate_worker_year' value='{{ student_info.original_certificate_worker_year|get_original_certificate_worker_year}}' id='original_certificate_worker_year' class='ipt' style="font-size:12px;width: 60px"
                            maxlength="50" title="获得现有资格证书后工作年限" placeholder="自动生成" />

                        <label for="original_certificate_worker_year" id="original_certificate_worker_year_value" style='color:white'>
                        {% if student_info.original_certificate_worker_year %}
                        {{student_info.original_certificate_worker_year|get_original_certificate_worker_year}} :年
                        {% else %}
                        {% endif %}
                    </label>
                        <label class="input_text" style="color: red" id="original_certificate_worker_year_label"></label>
                    </td>
                    <td class="form-label td-span from_certificate_need_year">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">取得本职业原级工职业资格证书后工作年限要求：</span>
                    </td>
                    <td class="form-label td-input from_certificate_need_year">
                        <input type='number' readonly="readonly" name='from_certificate_need_year' value='{{ student_info.from_certificate_need_year}}' id='from_certificate_need_year' class='ipt' maxlength="50" title="要求工作年限" placeholder="自动生成" />
                        <label for="from_certificate_need_year" style='color:white'>：年</label>
                    </td>
                </tr>
                <td class="form-label td-span school_name">
                    <font color='#ff0000'>* </font>
                    <span class="input_text" id="school_name_value">院校名称：</span>
                </td>
                <td class="form-label td-input school_name">
                    <input type='text' name='school_name' value='{{ student_info.school_name}}' id='school_name' class='ipt' maxlength="10" title="院校名称" placeholder="院校名称" />
                    <label style='color:red'></label>
                </td>
                <td class="form-label td-span major">
                    <font color='#ff0000'>* </font>
                    <span class="input_text">本专业或相关专业：</span>
                </td>
                <td class="form-label td-input major">
                    <input type='text' name='major' value='{{ student_info.major}}' id='major' class='ipt' title="本专业或相关专业" placeholder="本专业或相关专业" />
                    <label style='color:red'></label>
                </td>
                <td class="form-label td-span course_hours">
                    <font color='#ff0000'>* </font>
                    <span class="input_text">培训课时：</span>
                </td>
                <td class="form-label td-input course_hours">
                    <input type='number' name='course_hours' value='{{ student_info.course_hours|get_course_hours}}' id='course_hours' class='ipt' title="培训课时" placeholder="培训课时" />
                    <label style='color:red'></label>
                </td>

                </tr>
                <tr>
                    <td class="form-label td-span graduation_time">
                        <font color='#ff0000'>* </font>
                        <span class="input_text" id="graduation_time_value">毕业时间(结业时间)：</span>
                    </td>
                    <td class="form-label td-input graduation_time">
                        <input type='date' name='graduation_time' id='graduation_time' value='{{ student_info.graduation_time|date:"Y-m-d" }}' class='ipt' onblur="change_graduation_result(this.value)" maxlength="10" title="填写现持有专业院校毕业证书发证日期,格式:1990-01-20" placeholder="格式:1990-01-20"
                        />
                        <label style='color:red'></label>
                    </td>
                </tr>

                <tr>
                    <td class="form-label td-span certificate_photos" style="width: 150px;" id="certificate_photos_td01">
                        <font color='#ff0000'>* </font>
                        <input type="button" value="上传资格证件照" id='val2' class="form-button image-btn-certificate" style="color: purple" />
                        <input type="hidden" name="certificate_photos_form" value="{{ student_info.certificate_photos.id}}" id="certificate_photos" class="certificate_photos_update">
                    </td>
                    <td class="form-label td-input certificate_photos" rowspan="2" style="text-align: center" id="certificate_photos_td02">
                        <img src="{{ certificate_photos_url}}" id='certificate-photos' width="70px" height="80px" alt="资格证件照">
                    </td>

                    <td class="form-label td-span diploma_certificate_photos" id="diploma_certificate_photos_td01">
                        <font color='#ff0000'>* </font>
                        <input type="button" value="上传毕业证件照" id='val3' class="form-button diploma-image-btn-certificate" style="color: purple" />
                        <input type="hidden" name="diploma_certificate_photos_form" class="diploma_certificate_photos_update" value="{{ student_info.diploma_certificate_photos.id}}" id="diploma_certificate_photos">
                    </td>
                    <td class="form-label td-input diploma_certificate_photos" rowspan="2" style="text-align: center" id="diploma_certificate_photos_td02">
                        <img src="{{ diploma_certificate_photos_url}}" id='diploma-certificate-photos' width="70px" height="80px" alt="毕业证件照">
                    </td>
                </tr>

            </tbody>
        </table>
        <input type='submit' style="color: green;" value='保存' id="continue" class='form-button continue' />
    </form>

</div>
<input type="hidden" value="" id="condition-a-update" />
<input type="hidden" value="" id="condition-b-update" />

<script type="text/javascript">
    $(function() {
        $(".continue").show();
        $(".worker_level_desc").hide();
        $(".worker_level_desc_content").hide();

        // $(".graduation_status").hide();
        $(".has_qualification").hide();

        //个人信息情况
        $(".more_info_user").hide();

        //职业年限情况
        //         $('.career_life').hide();
        //         $('.profession').hide();
        //         $('.start_the_work_of_this_occupation').hide();
        //         $('.career_life_time').hide();

        // //有关证书情况
        //         $('.primary_level').hide();
        //         $('.original_certificate_number').hide();
        //         $('.issue_unit').hide();
        //         $('.issuance_time').hide();
        //         $('.from_certificate_need_year').hide();
        //         $('.original_certificate_worker_time').hide();
        //
        //         $('.certificate_photos').hide();

        //院校毕业证书情况
        //         $('.education_degree_form').hide();
        //         $('.school_name').hide();
        //         $('.graduation_time').hide();
        //         $('.graduation_worker_time').hide();
        //         $('.strict_status').hide();
        //         $('.major').hide();

        // $('.diploma_certificate_photos').hide();

        $(".image-btn-certificate").click(function() {
            alert("①图片格式为:jpg\n②大小不大于100k\n③把大体积图片缩小为小于100k图片的方法：\n   在电脑上点\"开始\"→\"所有程序\"→\"附件\"→\"画图\"\n→点菜单中的\"打开\"→选择要缩小的图片→点击\"调整大小和扭曲\"→按照图片大小小于100k的要求缩小\"重新调整大小\"的\"百分比\"数值→确定→菜单栏\"另存为\"\n到指定路径→确认照片体积是否符合要求\n（尽量使处理后的图片为100k，不能小太多，否则不清晰。）");
            $('#photo_type').val('val2');
            let left = ($(window).width() * (1 - 0.35)) / 2; //box弹出框距离左边的额距离
            let height = ($(window).height() * (1 - 0.5)) / 2;
            $(".image-box").addClass("animated bounceIn").show().css({
                left: left,
                top: height
            });
            $(".image-opacity-bg").css("opacity", "0.3").show();
        });

        $(".diploma-image-btn-certificate").click(function() {
            $('#photo_type').val('val3');
            alert("①图片格式为:jpg\n②大小不大于100k\n③把大体积图片缩小为小于100k图片的方法：\n   在电脑上点\"开始\"→\"所有程序\"→\"附件\"→\"画图\"\n→点菜单中的\"打开\"→选择要缩小的图片→点击\"调整大小和扭曲\"→按照图片大小小于100k的要求缩小\"重新调整大小\"的\"百分比\"数值→确定→菜单栏\"另存为\"\n到指定路径→确认照片体积是否符合要求\n（尽量使处理后的图片为100k，不能小太多，否则不清晰。）");
            let left = ($(window).width() * (1 - 0.35)) / 2; //box弹出框距离左边的额距离
            let height = ($(window).height() * (1 - 0.5)) / 2;
            $(".image-box").addClass("animated bounceIn").show().css({
                left: left,
                top: height
            });
            $(".image-opacity-bg").css("opacity", "0.3").show();
        });

        $(".image-close").click(function() {
            let left = ($(window).width() * (1 - 0.35)) / 2;
            let top = ($(window).height() * (1 - 0.5)) / 2;
            $(".image-box").show().animate({
                width: "-$(window).width()*0.35",
                height: "-$(window).height()*0.5",
                left: "-" + left + "px",
                top: "-" + top + "px"
            }, 1000, function() {
                let width1 = $(window).width() * 0.35;
                let height1 = $(window).height() * 0.5;
                console.log(width1);
                $(this).css({
                    width: width1,
                    height: height1
                }).hide();
            });
        });
        $("#update-student-info-id").submit(function() {
            let condition_a_update = $('#condition-a-update').val();
            let condition_b_update = $('#condition-b-update').val();
            let certificate_photos = $(".certificate_photos_update").val();
            let diploma_certificate_photos = $('.diploma_certificate_photos_update').val();
            if (condition_a_update.length > 0) {
                if (certificate_photos.length > 0) {
                    console.log("检测图片已上传！")
                } else {
                    alert("证件图片未上传，请您确认重新上传！如有问题请联系系统管理员");
                    return false;
                }
            } else {
                console.log("检测图片已上传程序！")
            }
            if (condition_b_update.length > 0) {
                if (diploma_certificate_photos.length > 0) {
                    console.log("检测图片已上传！")
                } else {
                    alert("毕业（或结业）证件图片未上传，请您确认重新上传！如有问题请联系系统管理员");
                    return false;
                }
            } else {
                console.log("检测图片已上传程序！")
            }
        });
    });
</script>