<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/love.css/">
    <title>爱你宝贝</title>
</head>
<body>

<div class="love_bg">
    <img src="/static/image/love/love_bg.png" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">宝贝！情人节快乐</h3>

    <img src="/static/image/love/m_1.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">看我宝贝，美得不可方物呢</h3>
    <img src="/static/image/love/m_2.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">你是我天边最美的云彩</h3>
    <img src="/static/image/love/m_3.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">携手并肩，岁月拾金</h3>
    <img src="/static/image/love/m_4.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">宝贝的美，甲天下！甲天下！甲天下！</h3>
    <img src="/static/image/love/m_5.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">野蛮、泼辣、又不失温柔以待</h3>
    <img src="/static/image/love/m_6.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">再冷的天也有热情的微笑，只要和公在一起</h3>
    <img src="/static/image/love/m_7.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">美美的人儿，可爱的虎虎</h3>
    <img src="/static/image/love/m_8.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">你就说酷不酷</h3>
    <img src="/static/image/love/m_9.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">阳光也没有你娴静</h3>
    <img src="/static/image/love/m_10.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">美食，好吃的，大餐..只要和公一起吃</h3>
    <img src="/static/image/love/m_11.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">美出了俏皮的感觉</h3>
    <img src="/static/image/love/m_12.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">花曰：不要吻我，我知道没你长得好看，哼</h3>
    <img src="/static/image/love/m_13.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">美，就是那种遗世独立的感觉吗</h3>
    <img src="/static/image/love/m_14.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">繁华会落寞，但是宝贝的美永存</h3>
    <img src="/static/image/love/m_15.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">你才是最美的花</h3>
    <img src="/static/image/love/g_1.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">帅吗？酷吗？</h3>
    <img src="/static/image/love/h_1.jpg" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">看你们两个晒幸福，都看困了，你俩继续...</h3>
    <img src="/static/image/love/aini.gif" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">我想奔向你...</h3>
    <img src="/static/image/love/wl.gif" height="40%" width="100%"
         title="宝贝！情人节快乐"/>
    <h3 style="text-align: center">轻轻的告诉你：I LOVE YOU</h3>
</div>
</body>
</html>