<!--<div style="text-align: center;color: white;margin-bottom: 1%;top: 80%">“</div>-->
<!--<div style="height: 50px;-->
<!--    position: absolute;-->
<!--    bottom: 47px;-->
<!--    text-align: left;-->
<!--    width: 100%;-->
<!--    margin: 0 auto;-->
<!--    z-index: 0;-->
<!--    overflow: hidden;">北京青峰白羽软件技术工作室”提供技术支持</div>-->
<div class="footer_div"><a href="javascript:void(0)">"北京青锋白羽软件技术工作室"</a>&nbsp;&nbsp;&nbsp;&nbsp;提供技术支持<br>
    ©2019&nbsp;QingFengBaiYu&nbsp;
    <a href="/report/system_guide/">系统操作指南</a>
    &nbsp;
    <a href="/report/introduction/">
        国家资格证报名条件</a>
    &nbsp;
    <a href="javascript:void(0)">
        意见反馈</a>
<!--    &nbsp;鲁ICP证xxxxx号&nbsp;-->
<!--    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11xxxxxx1">京公网安备1100xxxxxxxxx001号</a>-->
</div>
