<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=true"/>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <title>AIC|{{ title_msg }}</title>
    <!--    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>-->
    <!--    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">-->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css">
    <!--    全局css -->
    <link rel="stylesheet" href="/static/css/main_png0824.css">


    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/main_media_1300.css">
    <link rel="stylesheet" href="/static/css/main_media_1600.css">
    <link rel="stylesheet" href="/static/css/main_media_1750.css">
    <link rel="stylesheet" href="/static/css/main_media_1800.css">
    <link rel="stylesheet" href="/static/css/main_media_1900.css">
    <link rel="stylesheet" href="/static/css/main_media_2000.css">
    <link rel="stylesheet" href="/static/css/main_media_2050.css">
    <link rel="stylesheet" href="/static/css/main_media_2150.css">
    <link rel="stylesheet" href="/static/css/main_media_2200.css">
    <link rel="stylesheet" href="/static/css/main_media_2300.css">
    <link rel="stylesheet" href="/static/css/main_media_2400.css">
    <link rel="stylesheet" href="/static/css/main_media_2500.css">
    <link rel="stylesheet" href="/static/css/main_media_3000.css">
    <link rel="stylesheet" href="/static/css/main_media_3300.css">
    <link rel="stylesheet" href="/static/css/main_media_3500.css">
    <link rel="stylesheet" href="/static/css/main_png.css">
    <!-- 功能css -->
    <link rel="stylesheet" type="text/css" href="/static/css/Login_RegistryStyle.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css"/>
    <!--    <link rel="stylesheet" type="text/css" href="/static/css/header.css"/>-->
    <link rel="stylesheet" type="text/css" href="/static/css/form.css"/>
    <!--    <link rel="stylesheet" type="text/css" href="/static/css/table.css"/>-->
    <link rel="stylesheet" type="text/css" href="/static/css/select-div.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/select-div-index.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/select-div-media.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/image-upload.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/auto-margin-table.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/responsive-table.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/system_message.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bottom.css"/>


    <script type="text/javascript" src="/static/js/jquery/jquery.3.4.1.js"></script>
    <!--    将后台传过来的json  对象 渲染到已存在的表单中 -->
    <script type="text/javascript" src="/static/js/json2form.js"></script>


    {% comment %}extra js {% endcomment %}
    <script src='/static/js/velocity.min.js'></script>
    <script src='/static/js/sideToggleExtended.js'></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
    <script type="text/javascript" src="/static/js/register.js"></script>

    <script type="text/javascript" src="/static/js/select-ajax.js"></script>
    <script type="text/javascript" src="/static/js/report/report.js"></script>
    <script type="text/javascript" src="/static/js/report/download.js"></script>
    <script type="text/javascript" src="/static/js/report/report_check.js"></script>
    <script type="text/javascript" src="/static/js/report/image_upload.js"></script>
    <script type="text/javascript" src="/static/js/report/report_controller.js"></script>
    <script type="text/javascript" src="/static/js/report/report_check_info.js"></script>
    <script type="text/javascript" src="/static/js/report/report_check_middle.js"></script>
    <script type="text/javascript" src="/static/js/report/report_check_final.js"></script>
    <script type="text/javascript" src="/static/js/report/administrator_teacher.js"></script>
    <script type="text/javascript" src="/static/js/report/administrator_student.js"></script>
    <script type="text/javascript" src="/static/js/report/administrator_school_term.js"></script>
    <script type="text/javascript" src="/static/js/report/report_del_cancel_submit.js"></script>
    <script type="text/javascript" src="/static/js/report/administrator_role.js"></script>
    <script type="text/javascript" src="/static/js/report/administrator_register.js"></script>
    <script type="text/javascript" src="/static/js/report/register_teacher.js"></script>
    <script type="text/javascript" src="/static/js/report/register_index.js"></script>

    <script type="text/javascript" src="/static/js/report/system_message.js"></script>
    <script type="text/javascript" src="/static/js/report/payment.js"></script>
    <script type="text/javascript" src="/static/js/report/report_check_middle_add_new_worker.js"></script>
    <script type="text/javascript" src="/static/js/report/report_check_info_add_new_worker.js"></script>
    <script type="text/javascript" src="/static/js/report/delete_force.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            //右侧导航栏
            $('#sideMenuClosed').sideToggle({
                moving: '#sideMenuContainer',
                direction: 'right'
            });
            $('.more-menu').click(function () {
                let more_menu_span = $('.more-menu-span');

                if (more_menu_span.text() === '更多') {
                    more_menu_span.text('点击收回');
                } else {
                    more_menu_span.text('更多');
                }
            });
            //导航栏下垂长度按照子栏目数量设置是否有滚动条
            $(".dropdown").mouseover(function () {
                var div_tag = $(this).children('div');
                var len = div_tag.children('a').length;
                if (len < 15) {
                    $(".dropdown_menu").removeClass("more_menu");
                } else {
                    $(".dropdown_menu").addClass("more_menu");
                }
            });
            //根据右侧下拉导航栏展示不同的页面面包屑导航栏
            $("#sideMenuContainer > a").mouseover(function () {

            });

        });
        //
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        /**
         * 开始弹窗
         */
        $('.claseDialogBtn').click(function () {
            $('#dialog').addClass('bounceOutUp').fadeOut();
            $('#dialogBg').fadeOut();
            /*$('#dialogBg').fadeOut(50,function(){
                $('#dialog').addClass('bounceOutUp').fadeOut();
            });*/
            $("#operationTitle").text("");
        });
        var w, h, className;

        function getSrceenWH() {
            w = $(window).width();
            h = $(window).height();
            $('#dialogBg').width(w).height(h);
        }

        window.onresize = function () {
            getSrceenWH();
        };
        $(window).resize();
    </script>
</head>