			page_search = PageSearchForm(request.GET)		    
			
			per_page = 10
		    page = 1
		    if page_search.is_valid():
		        if page_search.cleaned_data.get('per_page', None):
		            per_page = page_search.cleaned_data.get('per_page', None)
		        if page_search.cleaned_data.get('page', None):
		            page = page_search.cleaned_data.get('page', None)
			
					
		    paginator = Paginator(student_infos, per_page)
		    contacts = paginator.get_page(page)
		
		<a href="javascript:void(0);" class="a-search">
			<input type="hidden" name="page" id="page_teacher_search" value="{{contacts.page}}" />
			<input type="hidden" name="per_page" id="pagesize_teacher_search" value="{{contacts.paginator.per_page}}" />
			<input type='submit' style="color: deeppink" value='查询' class='form-button' id="submit-reporter-all-student-search" />
		</a>
	
	
	<div class="pagination" style="color: ghostwhite">
		<span class="step-links">
			每页展示：<select onchange="getPageResizeWithSearch(this.options[this.options.selectedIndex].value, 'pagesize_teacher_search','submit-reporter-all-student-search');">
				{% if contacts.paginator.per_page == 10 %}
				<option value="{{contacts.paginator.per_page}}" selected>{{contacts.paginator.per_page}}</option>
				<option value="20">20</option>
				<option value="30">30</option>
				{% elif contacts.paginator.per_page == 20 %}
				<option value="10">10</option>
				<option value="{{per_page}}" selected>{{contacts.paginator.per_page}}</option>
				<option value="30">30</option>
				{% elif contacts.paginator.per_page == 30 %}
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="{{contacts.paginator.per_page}}" selected>{{contacts.paginator.per_page}}</option>
				{%else%} {%endif%}
			</select>&nbsp;条&nbsp;
			{% if contacts.has_previous %}
			<a href="javascript:void(0)" onclick="gotoPageWithSearch(1,'page_teacher_search','submit-reporter-all-student-search');">&laquo; 首页</a>
			<a href="javascript:void(0)" onclick="gotoPageWithSearch({{ contacts.previous_page_number }}, 'page_teacher_search', 'submit-reporter-all-student-search');">上一页</a>
			{% endif %}

			<span class="current">
				第 {{ contacts.number }} 页 ,总共 {{ contacts.paginator.num_pages }} 页.
			</span>
			
			{% if contacts.has_next %}
			<a href="javascript:void(0)" onclick="gotoPageWithSearch({{ contacts.next_page_number }},'page_teacher_search','submit-reporter-all-student-search');">下一页</a>
			<a href="javascript:void(0)" onclick="gotoPageWithSearch({{ contacts.paginator.num_pages }},'page_teacher_search','submit-reporter-all-student-search');">尾页 &raquo;</a> 
			{%endif %}
			<span class="current">
				总 <label>{{ contacts.paginator.count }}</label> 条记录数据.
			</span>
			
			<span class="current">
				跳转至:<input type="text" placeholder="{{contacts.number}}" style="width: 50px;height: 20px;" value="" class="goto_page_appoint" id="goto_page_teacher_search"/>&nbsp;页
				<a href="javascript:void(0)" onclick="gotoWithSearchToPage('goto_page_teacher_search','page_teacher_search','submit-reporter-all-student-search');">Go</a>
			</span>
		</span>
	</div>