<!--电工、焊工、钳工、劳动员、育婴员、保育员 填报页面-->
{% load filter_model %}
<div class="like_form">
    <label class="input_text_head">国家资格证乐陵杏林学校报名系统</label>
    <hr>
    <div class="image-box">
        <div class="images">
            <form action="/report/image_upload/" id='imageUpload-form' method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ form }}
                <input type="hidden" name='photo_type' id="photo_type" value="">
                <table style="margin-top: 10%;margin-left: auto;margin-right: auto;">
                    <tbody>
                        <!--                    <tr>-->
                        <!--                        <td><label style="color: honeydew;float: right">&nbsp;&nbsp;&nbsp;&nbsp;图片说明:</label></td>-->
                        <!--                        <td><input type="text" name="picture_name" id="picture_name" style="float: left" placeholder="可以为空"></td>-->
                        <!--                        <td style="width: auto;"><span class="message-label" style="color:red;margin-left: 1%; float: left;"></span></td>-->
                        <!--                    </tr>-->
                        <tr>
                            <td colspan="3" style="text-align: center">
                                <label style="font-size: 15px;color: red">
                                请认真阅读以下图片上传说明，以便更好地为您服务
                            </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: left">
                                <label style="font-size: 12px;color: white">
                                ①图片格式为:jpg
                            </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: left">
                                <label style="font-size: 10px;color: white">
                                ②大小不大于100k
                            </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: left">
                                <label style="font-size: 10px;color: white">
                                ③把大体积图片缩小为小于100k图片的方法：在电脑上点\"开始\"→\"所有程序\"→\"附件\"→\"画图\"\n→点菜单中
                                的\"打开\"→选择要缩小的图片→点击\"调整大小和扭曲\"→按照图片大小小于100k的要求
                                缩小\"重新调整大小\"的\"百分比\"数值→确定→菜单栏\"另存为\"\n到指定路径→确认照片体积是否符合要求
                                （尽量使处理后的图片为100k，不能小太多，否则不清晰。）
                            </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><label style="color: honeydew;float: right">&nbsp;&nbsp;&nbsp;&nbsp;选择图片:</label>
                            </td>
                            <td style="text-align: center"><input type="file" name="file" id="file" required="required" style="float: left" title="请确认上传照片为二寸头像照片"></td>
                            <td style="width: auto;"><span class="message-label" style="color:red;margin-left: 1%; float: left;"></span></td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <div id="btn2" style="margin-left: 20%;">
                        <ul>
                            <li><input type="button" value="提交" class="image-submit" style="color: white" onclick="image_upload()" /></li>
                            <li><input type="button" value="关闭" class="image-close" style="color: white" /></li>
                        </ul>
                    </div>
                </p>
            </form>
        </div>
    </div>

    <form action="/report/add_user_info/" method="post" class="more_info_user">
        {% csrf_token %} {{ form }}
        <table class='form-table' border="1">
            <tbody>

                <tr class="more_info">
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">姓名：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='real_name' required='required' value='{{ user_info.real_name }}' maxlength="15" minlength="2" class='ipt' />
                        <label style='color:red'></label>
                    </td>

                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">性别：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type="hidden" id='update_sex' value="{{ user_info.sex}}">
                        <select class='form-select' style="width: 50px" id='sex' name="sex">
                        <option value="OTHER">---请选择---</option>
                        <option value="MALE">男</option>
                        <option value="FEMALE">女</option>
                    </select>
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text" style="font-size: 12px">政治面貌：</span>
                        <input type="hidden" value="{{ user_info.political_status}}" id="update_political_status">
                    </td>
                    <td class="form-label td-input">
                        <select class='form-select' style="width: 80px" name="political_status" id="political_status">
                        <option value="0">---请选择---</option>
                        <option value="1">中共党员</option>
                        <option value="2">中共预备党员</option>
                        <option value="3">共青团员</option>
                        <option value="4">民革党员</option>
                        <option value="5">民盟盟员</option>
                        <option value="6">民建会员</option>
                        <option value="7">农工党党员</option>
                        <option value="8">致公党党员</option>
                        <option value="9">九三学社社员</option>
                        <option value="10">台盟盟员</option>
                        <option value="11">无党派人士</option>
                        <option value="12">群众(普通居民)</option>
                    </select>
                        <label style='color:red'></label>
                    </td>
                </tr>
                <!--            第 2 行-->
                <tr class="more_info">
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <label class="input_text">身份证号：</label>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='id_number' required='required' value='{{ user_info.id_number }}' minlength="18" maxlength="18" placeholder="请认真核对身份证号码" title="请认真核对身份证号码" class='ipt' style="width: 220px" />
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span" style="width: 150px;">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">民族：</span>
                    </td>
                    <td class="form-label td-input">
                        <!--                    <input type='text' name='nation' required='required' maxlength="30" value='{{ user_info.nation }}'-->
                        <!--                           class='ipt form-number'-->
                        <!--                           style="width: 100px"/>-->
                        <!--                    -->
                        <input type="hidden" id='update_nation_info' value="{{ user_info.nation_info.id }}">
                        <select class='form-select nation-info' name='nation_info_form' id="nation_info" style="width: 100px">
                        <option>---请选择---</option>
                    </select>
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <label class="input_text">邮箱：</label>
                    </td>
                    <td class="form-label td-input">
                        <input type='email' name='email' required='required' value='{{ user_info.email }}' class='ipt' />
                        <label style='color:red'></label>
                    </td>
                </tr>
                <!--            第 3 行-->
                <tr class="more_info">
                    <td class="form-label td-span" style="width: 150px;">
                        <font color='#ff0000'>* </font>
                        <label class="input_text">身份证住址：</label>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='id_card_address' required='required' value='{{ user_info.id_card_address }}' class='ipt' maxlength="200" minlength="5" style="width: 250px" />
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">户口所在地：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type="hidden" value="{{ user_info.hukou_province.id }}" id="update_hukou_province">
                        <select class='form-select province' style="width: 60px" name="hukou_province_form" required="required" onchange="city(this.options[this.options.selectedIndex].value, 0, null);" id="hukou_province">
                        <option>---省---</option>
                    </select>
                        <input type="hidden" value="{{ user_info.hukou_city.id }}" id="update_hukou_city">
                        <select class='form-select city' style="width: 60px" name="hukou_city_form" required="required" onchange="county(this.options[this.options.selectedIndex].value, 0, null);" id="hukou_city">
                        <option>---市---</option>
                    </select>
                        <input type="hidden" value="{{ user_info.hukou_county.id }}" id="update_hukou_county">
                        <select class='form-select county' style="width: 60px" name="hukou_county_form" id="hukou_county" required="required">
                        <option>---县---</option>
                    </select>
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">邮政编码：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='postal_code' required='required' value='{{ user_info.postal_code }}' maxlength="6" title="邮政编码" class='ipt' />
                        <label style='color:red'></label>
                    </td>
                </tr>
                <tr>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">初级中学：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='middle_school' required='required' value='{{ user_info.middle_school }}' class='ipt' maxlength="200" minlength="2" style="width: 250px" />
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span education_degree_form">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">文化程度：</span>
                    </td>
                    <td class="form-label td-input education_degree_form">
                        <input type="hidden" id='update_education_degree' value="">
                        <select class='form-select education-degree' name='education_degree_form' id="education_degree" style="width: 150px">
                        <option value="0">---请选择---</option>
                    </select>
                        <label style='color:red'></label>
                    </td>
                </tr>
                <!--            第 4 行-->
                <tr class="more_info">
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">常住住址：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='address' required='required' value='{{ user_info.address }}' class='ipt' maxlength="200" minlength="2" style="width: 250px" />
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <label class="input_text">联系电话：</label>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='contact_number' maxlength="11" minlength="11" value='{{user_info.contact_number}}' class='ipt' />
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <label for='' class="input_text">联系电话(区号)：</label>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='fixed_telephone' value='{{ user_info.fixed_telephone }}' class='ipt' minlength="13" maxlength="16" placeholder="例如: 0532-22223333" style="width: 130px" />
                        <label style='color:red'></label>
                    </td>
                </tr>
                <tr class="more_info">
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">参加工作时间：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type='date' name='start_working_date' required='required' maxlength="10" minlength="10" value='{{ user_info.start_working_date|date:"Y-m-d" }}' class='ipt' placeholder="格式:1990-01-20" title="格式:1990-01-20" />
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">从事职业：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='main_occupation' value='' maxlength="20" class='ipt' />
                        <label style='color:red'></label>
                    </td>

                    <td class="form-label td-span" style="width: 150px;">
                        <font color='#ff0000'>* </font>
                        <input type="button" value="上传二寸证件照" id='val1' title="请确认上传照片为二寸头像照片" class="form-button image-btn" style="height: 25px; color: purple;width: 150px;" />
                        <input type="hidden" name="two_inch_photo_form" value="{{user_info.two_inch_photo.id}}" id="two_inch_photo" required="required">
                    </td>
                    <td class="form-label td-input" rowspan="2" style="text-align: center">
                        <img src="{{image_url}}" id='two-inch-photo' width="70px" height="80px" alt="二寸证件照">
                    </td>
                </tr>
                <tr class="more_info">

                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">工作单位：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='work_unit' required='required' maxlength="50" value='{{ user_info.work_unit }}' class='ipt' style="width: 250px" />
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <label class="input_text">单位性质：</label>
                    </td>
                    <td class="form-label td-input">
                        <input type="hidden" value="{{ user_info.unit_nature.id }}" id="update_unit_nature">
                        <select class='form-select unit-nature' style="width: 150px" name="unit_nature_form" id="unit_nature">
                        <option>---请选择---</option>
                    </select>
                        <label style='color:red'></label>
                    </td>
                </tr>

                <!--            第 7 行-->
                <tr class="more_info">

                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">现工作单位地址：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='unit_address' value='' maxlength="200" class='ipt' style="width: 250px" />
                        <label style='color:red'></label>
                    </td>

                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <label for='' class="input_text" style="font-size: 12px">单位负责报名的负责人：</label>
                    </td>
                    <td class="form-label td-input">
                        <input type='text' name='person_in_charge' required='required' value='' class='ipt' minlength="2" maxlength="10" id="person_in_charge" placeholder="单位负责报名的负责人" title="单位负责报名的负责人" style="width: 130px" />
                        <label style='color:red'></label>
                    </td>
                </tr>
                <tr class="more_info">
                    <td class="form-label td-span">
                        <font color='#ff0000'>* </font>
                        <span class="input_text">参加工作时间：</span>
                    </td>
                    <td class="form-label td-input">
                        <input type='date' name='start_working_date' required='required' maxlength="10" minlength="10" value='{{ user_info.start_working_date|date:"Y-m-d" }}' class='ipt' placeholder="格式:1990-01-20" title="格式:1990-01-20" />
                        <label style='color:red'></label>
                    </td>
                    <td class="form-label td-span" style="width: 150px;">
                        <font color='#ff0000'>* </font>
                        <input type="button" value="上传二寸证件照" id='val1' title="请确认上传照片为二寸头像照片" class="form-button image-btn" style="height: 25px; color: purple;width: 150px;" />
                        <input type="hidden" name="two_inch_photo_form" value="{{user_info.two_inch_photo.id}}" id="two_inch_photo" required="required">
                    </td>
                    <td class="form-label td-input" rowspan="2" style="text-align: center">
                        <img src="{{image_url}}" id='two-inch-photo' width="70px" height="80px" alt="二寸证件照">
                    </td>

                    <td class="form-label td-span" style="width: 150px;">
                        <font color='#ff0000'>* </font>
                        <input type="button" value="上传二寸证件照" id='val1' title="请确认上传照片为二寸头像照片" class="form-button image-btn" style="height: 25px; color: purple;width: 150px;" />
                        <input type="hidden" name="two_inch_photo_form" value="{{user_info.two_inch_photo.id}}" id="two_inch_photo" required="required">
                    </td>
                    <td class="form-label td-input" rowspan="2" style="text-align: center">
                        <img src="{{image_url}}" id='two-inch-photo' width="70px" height="80px" alt="二寸证件照">
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <input type='hidden' value='{{student_id}}' name='student_id' id="student_id" />
        <input type='submit' style="color: green" value='确认提交' class='submitBtn form-button more_info' />
    </form>


</div>


<script type="text/javascript">
    $(function() {

        //院校毕业证书情况


        // $("#val2").attr("disabled", "disabled");
        // $("#val2").attr("title", "请正确填写从事本工种工龄(职业年限)的选项,再继续操作！");
        $(".image-btn").click(function() {
            alert("①图片格式为:jpg\n②大小不大于100k\n③把大体积图片缩小为小于100k图片的方法：\n   在电脑上点\"开始\"→\"所有程序\"→\"附件\"→\"画图\"\n→点菜单中的\"打开\"→选择要缩小的图片→点击\"调整大小和扭曲\"→按照图片大小小于100k的要求缩小\"重新调整大小\"的\"百分比\"数值→确定→菜单栏\"另存为\"\n到指定路径→确认照片体积是否符合要求\n（尽量使处理后的图片为100k，不能小太多，否则不清晰。）");
            $('#photo_type').val('val1');
            let left = ($(window).width() * (1 - 0.35)) / 2; //box弹出框距离左边的额距离
            let height = ($(window).height() * (1 - 0.5)) / 2;
            $(".image-box").addClass("animated bounceIn").show().css({
                left: left,
                top: top
            });
            $(".image-opacity-bg").css("opacity", "0.3").show();
        });

        $("#file").change(function() {
            let s = $('#file').val();
            let start = s.indexOf(".") + 1;
            let name = s.substring(start, s.length).toLowerCase();
            if (name !== "jpg") {
                alert("图片格式必须为.jpg格式");
                $("#image-upload").attr("disabled", true);
                return;
            }
            if (this.files[0].size > 102400) {
                alert("图片不能超过100KB");
                $("#image-upload").attr("disabled", true);
                return;
            }

            // let objUrl = getObjectURL(this.files[0]);
            // if (objUrl) {
            //     $("#img0").attr("src", objUrl);
            // }
            $("#image-upload").attr("disabled", false);
        });

        $(".image-close").click(function() {
            let left = ($(window).width() * (1 - 0.35)) / 2;
            let top = ($(window).height() * (1 - 0.5)) / 2;
            $(".image-box").show().animate({
                width: "-$(window).width()*0.35",
                height: "-$(window).height()*0.5",
                left: "-" + left + "px",
                top: "-" + top + "px"
            }, 1000, function() {
                let width1 = $(window).width() * 0.35;
                let height1 = $(window).height() * 0.5;
                console.log(width1);
                $(this).css({
                    width: width1,
                    height: height1
                }).hide();
            });
        });
    });
</script>