{% load filter_model %}
{% load filter_status %}
<div class="teacher_ordinary">
    <p style="text-align: center">
        <label class="input_text_head">重置密码</label>
    </p>
    <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>
    <p class="update_status_ok" style="text-align: center">
        <label style="color: #00FF00">修改密码成功！请您使用新密码 <a href="/report/to_login" title="您好！请登录" style="color: red;">登录</a></label>
    </p>


    <p class="update_status_fail" style="text-align: center">
        <label style="color: red">修改失败，请继续尝试！</label>
    </p>
    <div class="reset_password" style="text-align: center">
        <div class="regiest" style="text-align: center">
            <form action="/report/final_reset_password/" method="post" id="register-form-reset-pwd">
                {% csrf_token %}
                {{ form }}
                <!--                    <input type="hidden" name="role_name" value="{{request.session.role_name}}">-->
                <table style="margin-top: 5%;margin-left: auto;margin-right: auto;">
                    <tbody>
                    {% if request.session.role_name != 'administrator' %}
                    <input type="hidden" name="new_username" value="{{request.session.username}}">
                    <tr style="text-align: center">
                        <td style="text-align: right;width: 30%;">
                            <label style="color: honeydew; float: right; ">用户名:</label>
                        </td>
                        <td style="text-align: left;">
                            <label style="color: honeydew; ">{{request.session.username}}</label>
                        </td>
                        <td style="width: 15%;">
                            <span class="message-label" style="color:red;"></span>
                        </td>
                    </tr>
                    <tr style="text-align: center">
                        <td style="text-align: right">
                            <label style="color: honeydew; float: right; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;原密码:</label>
                        </td>
                        <td style="text-align: left;width: 20%;">
                            <input type="password" name="origin_password" id="origin_password" placeholder="密码"
                                   required="required"
                                   onblur="check_origin_password();" onchange="check_origin_password();">
                        </td>
                        <td style="width: 15%;">
                            <span class="message-label" style="color:red;"></span>
                        </td>
                    </tr>
                    {%else%}
                    <input type="hidden" name="new_username" value="{{username}}">
                    <tr style="text-align: center">
                        <td style="text-align: right;">
                            <label style="color: honeydew; float: right;">用户名:</label>
                        </td>
                        <td style="text-align: left;">
                            <label
                                    style="color: honeydew;">{{username}}</label>
                        </td>
                        <td style="width: 15%;">
                            <span class="message-label" style="color:red;"></span>
                        </td>
                    </tr>
                    {%endif%}

                    <tr style="text-align: center">
                        <td style="text-align: right;">
                            <label style="color: honeydew; float: right;">新密码:</label>
                        </td>
                        <td style="text-align: left;">
                            <input type="password" name="new_password" id="new_passwordReg" placeholder="密码"
                                   required="required"
                                   onblur="check_new_password();" onchange="check_new_password();"></td>
                        <td style="width: 15%;">
                            <span class="message-label" style="color:red;"></span>
                        </td>
                    </tr>
                    <tr style="text-align: center">
                        <td style="text-align: right"><label style="color: honeydew; float: right;">确认密码:</label></td>
                        <td style="text-align: left"><input type="password" id="new_finalPWD" placeholder="确认密码"
                                                            required="required"
                                                            onblur="check_new_equal();" onchange="check_new_equal();">
                        </td>
                        <td style="width: 15%;">
                            <span class="message-label" style="color:red;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <hr>
                        </td>
                    </tr>
                    <tr  style="text-align: center">
                        <td  colspan="4"><input type="submit" value="提交" class="new_submit" style="color: black"/></td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function change_pwd() {
        let url = '/report/final_reset_password/';
        $.ajax({
            url: url,
            type: 'POST',
            tradition: true,
            data: $("#register-form-reset-pwd").serialize(),
            success: function (data) {
                /*var callback_dic = $.parseJSON(arg);*/
                // var strs = JSON.stringify(arg);
                if (data.status) {
                    alert(data.message);
                    $('.update_status_ok').show();
                    $('.update_status_fail').hide();
                    $(".reset_password").hide();
                } else {
                    alert(data.message);
                    // let new_submit = $(".new_submit");
                    // new_submit.attr("type", "submit");
                    // new_submit.removeAttr('onclick');
                    $('.update_status_ok').hide();
                    $('.update_status_fail').show();
                    $(".reset_password").show();
                    $('#new_finalPWD').val("");
                    $('#new_passwordReg').val("");
                }

            }
        });
    }
</script>